/* Layouts */

@import "../../base/variables";
@import "../../functions/baseFunctions";
.feedSetMain{
  display:block;
  float:left;
  position:relative;
  width:100%;
}
.page-feeds{
  display: block;
  float: left;
}
.p-feeds{
  float: left;
  min-width: 300px;
  left:0px;
  top: 0px;
  right: 300px;  
  padding:0; 
}
.postform{
  display: block;
  float: left;
  width: 100%;
  min-height:10px;
}

.heading{
  display:block;
  float:left;
  width:100%;
  height:30px;
  position:relative;
}
.heading > span{
  display: block;
  float: left;
  height:30px;
  line-height: 30px;
  min-width: 60px;
  padding:0 8px;
}
.postform .cont,.postform .cont form > .head,.postform .cont form > .mid,.postform .cont form > .foot{
  display: block;
  float: left;
  width: 100%;
}
.postform > .cont {
  float: left;
  width: 100%;
}
.postform > .active{
  display: block;
}
.postform .cont form > .head textarea{
  min-width: 100%;
  max-width: 100%;
  margin-top:20px;
  padding:0 10px 0 20px;
}
.postform .cont form > .head input{
  width:80%;
  max-width: 100%;
  min-width: 300px;
  margin:20px 10px 10px 20px;
  padding:0 10px 0 10px;
  height:40px;
}
.postform .cont form > .head input[type="checkbox"]{
  width:12px;
  min-width: 12px;
  margin: 5px 10px 5px 30px ;
  padding:0;
  height:12px;
}
.p-dropzone{
  display: block;
  float: left;
  width:80%;
  max-width: 100%;
  min-width: 300px;
  min-height:30px;
  margin:10px 10px 10px 20px;
  padding-left:10px;
  border: dashed 1px #ddd;

  min-height: 30px;
  padding:0px;
}
.dropzone{
  .dz-message{
    margin:0px;
  }
}
.postform .cont form > .foot{
  width: 100%;
  height:30px;
}
.postform .cont form > .foot > button{
  float: right;
  padding:0 6px;
  font-size: 80%;
  height:20px;
  margin:5px 15px 5px 5px;
  @include border-radius(4px);
}
.postform .cont form > .foot > .Sel,
.postform .cont form > .foot > input{
  float: right;
  line-height: 25px;
  width: 140px;
  margin-right:10px;
}
.postform .cont form > .foot > div .text-slot{
  float: right;
  height:30px;
  margin:0 5px;
  width: 140px;
}
.postform .cont form > .foot > div > .foot{
  display:none;
  float: left;
  width: 140px;
}
.postform .cont form > .foot > div > .foot > span{
  display:block;
  float:left;
  width: 100%;
  padding:5px 10px;
}



.postform .cont form > .head .half{
  display: block;
  float: left;
  width:80%;
  max-width: 100%;
  min-width: 300px;
  margin:10px 10px 10px 20px;
  padding-left:10px;
}
.postform .cont form > .head .half > div{
  display: block;
  float: left;
  width: 50%;
}
.postform .cont form > .head .half > div > div{
  display: block;
  float: left;
  width: calc(100% - 10px);
  margin-right:10px;
  padding-left: 10px;
}
.postform .cont form > .head .half > div > select{
  display: block;
  float: left;
  width: calc(100% - 10px);
  margin-right:10px;
  height:30px;
  padding-left: 10px;
}

.feed-slot{
  display:block;
  float:left;
  min-height:10px;
  width:100%;
  margin-top:10px;
}
.feed-slot > .feedSet{
  display:block;
  float:left;
  width:100%;
  min-height:10px;
}

.feed-slot > .feedSet .contHead > div {
  padding:10px 10px 4px 10px ;
}
.feed-slot > .feedSet .cont> .left{
}
.feed-slot > .feedSet .cont> .left > .img{
  width:60px;
  height:60px;
  margin:10px;
  @include border-radius(50%);
  overflow:hidden;
}
.feed-slot > .feedSet .cont> .left > .img > img {
    max-width:100%;
    max-height:100%;
    min-width:100%;
    min-height:100%;
    overflow:hidden;
}
.feed-slot > .feedSet .cont> .right > .head,
.feed-slot > .feedSet .cont> .right > .mid,
.feed-slot > .feedSet .cont> .right > .foot
{
  min-height:0px;
  width:100%;
  padding-left:10px;
}
.feed-slot > .feedSet .cont> .right > .mid
{
  min-height:0px;
  width:100%;
  padding:2px 10px;
}
.feed-slot > .feedSet .cont> .right > .foot > .head .cnmtBtn,
.feed-slot > .feedSet .cont> .right > .foot > .head .date
{
  height:30px;
  padding:0 10px;
}
.feed-slot > .feedSet .cont> .right > .foot > .head .date {
  color:#aaa;
}
.feed-slot > .feedSet .cont> .right > .foot > .foot > textarea {
  display: block;
  float: left;
  margin:2px 10px;
  width:100%;
  max-width: 400px;
}

.feed-slot > .feedSet .cont> .right > .foot > .foot > div {
  display: block;
  float: left;
  width:100%;
}
.feed-slot > .feedSet .cont> .right > .foot > .foot .b-btn-sm{
  margin-left:10px;
}
.b-btn-sm{
  display: block;
  float: left;
  padding:0 6px;
  height:20px;
  margin:5px 15px 5px 5px;
}
.comment-slot {
  float:left;
  display:table;
  margin-bottom:7px;
  width:400px;
}
.commentSet {
  display: table-row;
  float: left;
  width: 100%;
  padding: 5px 0;
}
.commentSet > .contSec > div  {
  display: block;
  float: left;
  min-height:20px;
  line-height: 30px;
  padding:0 10px;
  width:100%;
}
.commentSet > .imgSec > .img  {
  display: block;
  float: left;
  height:50px;
  width:50px;
  margin:5px;
  @include border-radius(50%);
  overflow:hidden;
}
.commentSet > .imgSec > .img > img {
    max-width:100%;
    max-height:100%;
    min-width:100%;
    min-height:100%;
    overflow:hidden;
}
.commentSet > div > .foot {
  height: 20px; 
}
.commentSet > div > .foot > div > .date{
  display: block;
  float: left;
  height:20px;
}
.commentSet > div > .head  ,
.commentSet > div > .mid  {
  display: block;
  float: left;
  line-height: 20px;
  padding:0 10px;
  margin: 0px;
  min-height:20px;
}
.b-link{
  display: block;
  float: left;
  height:20px;
  padding:0 10px;
}

.comment-slot > .foot {
  display:block;
  float:left;
  width:calc(100% - 75px);
  margin-left:75px;
  padding: 5px;
}
.comment-slot > .foot  textarea{
  min-width:calc(100% - 85px); 
  max-width:calc(100% - 85px);  
}
.comment-slot > .foot button{
  width:50px;
  margin:0px 4px; 
}
.comment-slot > .foot .clip{
  width:20px;
  margin:0 0 0 4px; 
  background:#333;
}

.feedFile{
  display: block;
  float: left;
  width:100%;
  margin:5px 0;
  .feedFileImg{
     display: block;
     float: left;
     width: 150px;
     max-width: 150px;
     .head{
       display: block;
       width:150px;
       min-height:10px;
       max-width: 150px;
       border:1px solid #eee;
       margin:0px;
       padding:0px;
       img{
         max-width: 100%;
         max-height: 100%;
       }
     }
     .foot{
       display: block;
       float: left;
       width: 100%;
       min-height: 20px;
       background: #ddd;
       color:#333;
       margin:0px;
       padding:7px;
       text-align: center;
     }
   }
  .feedFileUnknown{
    display: block;
    float: left;
    min-width: 100%;
    margin:5px 0;
    .foot{
      display: block;
      float: left;
      min-width: 150px;
      min-height: 20px;
      background: #ddd;
      color:#333;
      margin:0px;
      padding:7px;
      text-align: center;
    }
  }
}
.feedFooterLeft{
  display:block;
  float:left;
  height:100%;
  .block{
    display:block;
    float:left;
    height:100%;
    width:40px;
    .Btn{
      display:block;
      float:left;
      height:100%;
      width:40px;
      background:rgba(255,255,255,0.1);
      text-align:center;
      line-height:30px;
      border-right:1px solid rgba(0,0,0,0.15);
      padding:1px;
      i.fa{
        font-size:15px;
      }
    }
    .selPerson{
      display:block;
      float:left; 
      padding:10px;
      .head,.foot{
        display:block;
        float:left;
        width:100%;
        height:30px;
        line-height:30px;
        padding:0 10px;
      }
      .cont{
        display:block;
        float:left;
        padding:10px;
        .imgHead{
          display:block;
          float:left; 
          width:45px;
          height:45px;
          margin:0 5px;

          @include shadow(0,0,5px,rgba(0,0,0,0.5));
          overflow:hidden;
          @include border-radius(50%);
          background:#ddd; 
          border:1px solid #ddd;
          transition: margin 0.5s, background 0.5s;
          .check{
            display:block;
            float:left;
            width:100%;
            height:100%;
            position:absolute;
            top:0px;
            left:0px;
            z-index:3; 
            line-height:45px;
            text-align:center;
            font-size:200%;
            color:#fff;
            padding-top:45px;
            transition:padding 0.4s , background 0.8s; 
          }
        }
        .imgHead > img {
            max-width:100%;
            max-height:100%;
            min-width:100%;
            min-height:100%;
            overflow:hidden;
        }
      }
    }
  }  
}
