
@import "../../base/variables";
@import "../../functions/baseFunctions";
.postform > .heading > span:hover{
  cursor: pointer;
  border-bottom:2px rgba($blueR,$blueG,$blueB,.3) solid;
  color:#111;
}
.postform > .heading > .active{
  border-bottom:2px rgba($blueR,$blueG,$blueB,.6) solid;
  color:#111;
}
.postform > .heading > .active:hover{
  cursor: default;
  border-bottom:2px rgba($blueR,$blueG,$blueB,.6) solid;
}
.postform .cont form > .foot > button:hover{
  background: #5fcf80;
  color:#fff;
}
.postform .cont form > .foot > .Sel:hover > .foot{
  display:block;
  cursor: pointer;
}
.postform .cont form > .foot > .Sel:hover{
   @include shadow(0,0,5px,#ccc);
}
.postform .cont form > .foot > .Sel > .foot > .active{
  background: red;
}
.postform .cont form > .foot > .Sel > .foot > span:hover{
  background: rgba($blueR,$blueG,$blueB,1);
  color:#fff;
}
.feed-slot > .feedSet .cont> .right > .foot > .head .cnmtBtn:hover,
.feed-slot > .feedSet .cont> .right > .foot > .head .date:hover {
  cursor: pointer;
  color:#0EAFE6;
  text-decoration:underline;
}
.b-btn-sm:hover{
  background: #5fcf80;
  color:#fff;
}
.b-link:hover {
  cursor: pointer;
  color:#0EAFE6;
  text-decoration:underline;
}
.feedFooterLeft{ 
  .block{
    .Btn:hover{ 
      cursor:pointer;
    }
  }
}

