<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <base href="/">

    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/dropzone/dist/min/dropzone.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/Bluegrid/Bluegrid.css">
    <link rel="stylesheet" href="styles/css/dropzone.css">
    <!--<link rel="stylesheet" href="styles/css/application.css">-->
    <link rel="stylesheet" href="styles/css/base.css">
      <link rel="stylesheet" href="styles/css/layouts.css">
    <link rel="stylesheet" href="styles/css/modules.css">
    <link rel="stylesheet" href="styles/css/states.css">
    <link rel="stylesheet" href="styles/css/theme/default-theme.css">

      <div id="cssHead"></div>
    <!-- endbuild -->
  </head>
  <body ng-app="bluroeApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div  ng-controller="IndexCtrl as AsController">
        <div class="blueNav bn-group cust-header b-p-fix">
            <div class="bgrid navH -bg-s-200 ">
                <div class="bgrid -bg-s-60">
                    <span class="BCZIcon">BCZ</span>
                </div>
                <div class="bgrid -bg-s-140">
                    <ul class="bl-ul bg-text-c">
                        <li class="-bg-s-60" ng-class="{'active' : currView == 'home'}" ><a ui-sref="home">Home</a></li>
                        <li class="-bg-s-80"ng-class="{'active' : currView == 'projects'}"><a ui-sref="projects">Projects</a></li>
                    </ul>
                </div>
            </div>
            <div class="bgrid -bg-s-500-w">
                a
            </div>
            <div class="bgrid -bg-s-300"> 
                <div class="navLink -f-right" ng-click="chatSystemAct = ! chatSystemAct"> CHAT </div>
            </div>
            <div id="powerProgress"></div>
        </div>

        <div class="b-p-fix Aside sec-left b-layer-2" >
            <a ng-repeat="aside in asideList" class="asideButton">
                <!--Aside Link-->
                <div class="asideLink" ng-if="checkIsLink(aside)"   ng-class="{active:$state.current.name ==  aside.ngClick}"  ng-click="AsController.selectTab(aside.id);"  ui-sref="{{ aside.ngClick }}">
                    <div class="asideName"> {{ aside.name }} </div>
                    <div class="asideIcon">
                        <div class="img">
                            <img src="images/{{ aside.img }}">
                        </div>
                    </div>
                </div>
                <!--Aside LinkList-->
                <div class="asideLinkList listHead" ng-if="checkIsLinkList(aside)" >
                    <!--Aside LinkBase-->
                    <div  ng-click="showDetails = ! showDetails"  class="asideButton asideListBase" >
                        <div class="asideName"> {{ aside.name }} </div>
                        <div class="asideIcon">
                            <div class="img">
                                <img src="images/{{ aside.img }}">
                            </div>
                        </div>
                    </div>
                    <!--Aside LinkList-->
                    <div  ng-class="{ 'hiddenList': ! showDetails }" >
                        <div class="asideButton"  ng-repeat="asideL in aside.list ">
                            <div class="NestedAsideLink"   ng-class="{active:$state.current.name ==  aside.ngClick}"  ng-click="AsController.selectTab(asideL.id);"  ui-sref="{{ asideL.ngClick }}">
                                <div class="asideName"> {{ asideL.name }} </div>
                                <div class="asideIcon">
                                    <div class="img">
                                        <img src="images/{{ asideL.img }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="chatSystem "ng-class="{ 'chatSystemAct':  chatSystemAct }">
             
        </div>
    </div>
    <div class="b-p-abs sec-mid b-layer-1">
        <div ui-view=""></div>
    </div>

    <div class="cust-footer">
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/dropzone/dist/min/dropzone.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/plugins/dropzone.js"></script>
        <script src="scripts/plugins/jqBarGraph.1.1.min.js"></script>

        <script src="scripts/app.js"></script>
        <script src="scripts/index.js"></script>
        <script src="styles/Bluegrid/Bluegrid.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/services/powerprogress.js"></script>
        <script src="scripts/controllers/projects.js"></script>
        <script src="scripts/services/buttongroup.js"></script>
        <script src="scripts/services/feedfactory.js"></script>
        <script src="scripts/services/asidebarserv.js"></script>
        <script src="scripts/services/sidenav.js"></script>
        <script src="scripts/directives/dropzone.js"></script>
        <script src="scripts/services/tokenhandler.js"></script>
        <script src="scripts/services/comment.js"></script>
        <script src="scripts/services/hoster.js"></script>
        <script src="scripts/services/status.js"></script>
        <script src="scripts/services/task.js"></script>
        <script src="scripts/services/forum.js"></script>
        <script src="scripts/services/cssinjector.js"></script>
        <script src="scripts/services/injectcss.js"></script>
        <script src="scripts/directives/feed.js"></script>
        <script src="scripts/directives/comment.js"></script>
        <script src="scripts/filters/description.js"></script>
        <script src="scripts/services/project.js"></script>
        <script src="scripts/controllers/chatsystem.js"></script>
        <script src="scripts/services/sliderservice.js"></script>
        <script src="scripts/controllers/tasks.js"></script>
        <script src="scripts/controllers/milestones.js"></script>
        <script src="scripts/controllers/bugs.js"></script>
        <script src="scripts/controllers/calendar.js"></script>
        <script src="scripts/directives/attachment.js"></script>
        <script src="scripts/controllers/dailynotes.js"></script>
        <script src="scripts/controllers/index.js"></script>
        <script src="scripts/controllers/createpost.js"></script>
        <script src="scripts/controllers/reports.js"></script>
        <script src="scripts/services/spinner.js"></script>
        <script src="scripts/directives/spinner.js"></script>
        <script src="scripts/controllers/dailystats.js"></script>
        <!-- endbuild -->
</body>
</html>
