<div class="flexPage bg-grey"> 
    <div class="flex-10  -p">
        <div class="fluidGrid myTasks">
        	<div class="heading ">
        		<span class='navLH' ng-class="{active:tasks.isSelected(1)}"  ng-click="tasks.selectTab(1)" > Backlogs  </span>  
        		<span class='navLH' ng-class="{active:tasks.isSelected(2)}"  ng-click="tasks.selectTab(2)" > Release Backlogs </span> 
                <div class="custButton" ng-click="tasks.markMode()" ng-class="{'-green':tasks.markModeVar,'-blue':!tasks.markModeVar}">
                    <span ng-if="!tasks.markModeVar">Mark Stories</span>
                    <span ng-if="!tasks.processingMB && tasks.markModeVar && tasks.isSelected(1)">Add to Release Backlog  [{{tasks.markedCart.length}}]</span>
                    <span ng-if="!tasks.processingMB && tasks.markModeVar && tasks.isSelected(2)">Remove from Release Backlog  [{{tasks.markedCart.length}}] </span> 
                    <span ng-if="tasks.processingMB && tasks.markModeVar && tasks.isSelected(1)"><span class="fa fa-spinner fa-pulse"></span>&nbsp; Adding...</span> 
                    <span ng-if="tasks.processingMB && tasks.markModeVar && tasks.isSelected(2)">Remove...&nbsp;&nbsp;&nbsp;</span> 
                </div>  
                <div class="custButton -grey" ng-click="tasks.cancelMarkMode()" >Cancel</div>

                <div class="bgrid -bg-s-100 -f-right -b-p-rel">
                    <div class="custButton -grey"><i class="fa fa-filter"></i></div>
                    <div class="custButton -grey"><i class="fa fa-bars"></i></div>
                </div>
                <!-- Create tasklist -->
                <div class="bgrid -bg-s-100 -f-right b-p-rel" popup-menu="showTaskListPop">
                    <div class="custButton -blue" >New Sprint</div>
                    <div class="popBox -l-20" ng-class="{ 'hidden' : ! showTaskListPop }">
                        <div class="topArrow" ></div>
                        <div class="closeBtn" ng-click="showTaskListPop = ! showTaskListPop"></div>
                        <div class="cont">
                            <div class="createProjectPopup">
                                <h5>Create New Sprint</h5>
                                <input type="text" placeholder="Project name" ng-model="projects.projectname"/>
                                <h6>Select project</h6> 
                                <select>
                                    <option>SHit one</option>
                                    <option>SHit Zu</option>
                                    <option>SHiZree</option>
                                </select>
                                <div class="rowspace"></div>
                                <div>
                                    <div class="custButton -blue" ng-click="projects.createProject()">Create Sprint</div>
                                    <div class="custButton -red" ng-click="showTaskListPop = ! showTaskListPop">Cancel</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Create task  -->
                <div class="bgrid -bg-s-100 -f-right b-p-rel " popup-menu="showTaskPop">
                    <div class="custButton -green" >New Story</div>
                    <div class="popBox -l-30" ng-class="{ 'hidden' : ! showTaskPop }">
                        <div class="topArrow" ></div>
                        <div class="closeBtn" ng-click="showTaskPop = ! showTaskPop"></div>
                        <div class="cont">
                            <div class="createProjectPopup">
                                <h5>Create New Story</h5>
                                <textarea rows="4" placeholder="Task name"></textarea> 

                                
                                <div class="bgrid flex-9"> 
                                    <h6 class="bgrid half" >Select project</h6> 
                                    <h6 class="bgrid half" >Select Sprint</h6> 
                                    <select class=" half">
                                        <option>SHit one</option>
                                        <option>SHit Zu</option>
                                        <option>SHiZree</option>
                                    </select> 
                                    <select  class="half">
                                        <option>SHit one</option>
                                        <option>SHit Zu</option>
                                        <option>SHiZree</option>
                                    </select> 
                                </div>
                                <div class=" dropzone p-dropzone" dropzone="dropzoneConfig">
                                    <div class="dz-message">Drop your files here</div>
                                </div>
                                <h6>Assign to crews</h6> 
                                <input type="text" placeholder="Project name" />

                                <div class="bgrid flex-9"> 
                                    <h6 class="bgrid oneBy3" >Start date</h6> 
                                    <h6 class="bgrid oneBy3" >End date</h6> 
                                    <h6 class="bgrid oneBy3" >Priority</h6> 
                                    <input type="text" class="bgrid oneBy3"  placeholder="Start date" />
                                    <input type="text" class="bgrid oneBy3"  placeholder="End date" />
                                    <select  class="oneBy3">
                                        <option>None</option>
                                        <option>Low</option>
                                        <option>Medium</option>
                                        <option>Hight</option>
                                    </select> 
                                </div>

                                <div class="rowspace"></div>
                                <div>
                                    <div class="custButton -blue" ng-click="projects.createProject()">Create Story</div>
                                    <div class="custButton -red" ng-click="showTaskPop = ! showTaskPop">Cancel</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="navLine" id="myTasksNavLine"></div> 
        	</div> 
        </div>
        <div class="backlogOuter">
            <!-- backlog tab -->
            <div  class="cont"  ng-show="tasks.isSelected(1)" >
                <div class="storyBlock" ng-repeat="data in tasks.tlist | filter : {'released':'false'}" ng-class="{'inactive':!showDropList}">
                 <div ng-click="tasks.markBlock(data)"  class="releaseTag" ng-class="{'actv':data.released,'inact':!data.released,'markMode':tasks.markModeVar}">
                        <div></div>  
                        <i class=" fa fa-check fa-5x" ng-if="data.marked"></i>
                    </div> 

                    <div class="RoundDropDown" popup-menu="showDropList">
                        <div class="DropBtn" ng-class="{ 'DropBtnAct':  showDropList }"></div>
                        <div class="DropCont pop-child bgrid -bg-s-160" ng-show="showDropList">
                            <button class="bgrid " ng-click="showDropList=false;tasks.addToReleaseBacklog(data)">Add to release backlog</button>
                            <div popup-menu="showPriorityList">
                                <button>Set Priority </button>
                                <div class="DropCont" ng-show="showPriorityList">
                                    <button ng-click="data.priority = 0;showDropList=false;">None</button>
                                    <button ng-click="data.priority = 1;showDropList=false;">Low</button>
                                    <button ng-click="data.priority = 2;showDropList=false;">Medium</button>
                                    <button ng-click="data.priority = 3;showDropList=false;">High</button>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div  class="title" >
                        <input class="ellip" title="{{data.title}}" ng-model="data.title" ng-mousedown="tasks.titleClick(data)" ng-blur="tasks.cancelTitleEdit(data)" ng-keydown="tasks.titleSave($event,data)"  ng-class="{'bg-grey':data.titleEdit}" > 
                    </div>
                    <textarea class="description " ng-mousedown="tasks.descClick(data)" ng-blur="tasks.cancelDescEdit(data)"  ng-keydown="tasks.descSave($event,data)" ng-class="{'bg-grey':data.descEdit}" ng-model="data.description">{{data.description}}</textarea> 
                    <div class="date" >
                        <table>
                            <tr>
                                <td class="c1">From </td>
                                <td class="c2">
                                    <!-- <datepicker class="float-l" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-format=" MMM dd ">
                                    <input class="c2Input" ng-model="data.startDate" type="text"/> 
                                    </datepicker> -->
                                </td>
                            </tr>  
                            <tr>
                                <td class="c1">To </td>
                                <td class="c2">
                                    <!-- <datepicker class="float-l" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-format=" MMM-dd ">
                                    <input class="c2Input" ng-model="data.endDate" type="text"/> 
                                    </datepicker> -->
                                </td>
                            </tr>    
                        </table>
                    </div>
                    <div class="time" popup-menu="data.showTaskPop">
                        <div >{{data.duration}}<span>{{ data.durationUnit }}</span></div>
                        <div class="popBox -l-30" ng-class="{ 'hidden' : ! data.showTaskPop }">
                            <div class="topArrow" ></div>
                            <div class="closeBtn" ng-click="data.showTaskPop = ! data.showTaskPop"></div>
                            <div class="cont">
                                <div ng-click="data.duration = 1;data.durationUnit = 'h' " class="numberHour">1<span>h</span></div> 
                                <div ng-click="data.duration = 2;data.durationUnit = 'h' " class="numberHour">2<span>h</span></div> 
                                <div ng-click="data.duration = 4;data.durationUnit = 'h' " class="numberHour">4<span>h</span></div>  
                                <div ng-click="data.duration = 8;data.durationUnit = 'h' " class="numberHour">8<span>h</span></div>  
                                <div ng-click="data.duration = 1;data.durationUnit = 'd' " class="numberDay">1<span>d</span></div> 
                                <div ng-click="data.duration = 2;data.durationUnit = 'd' " class="numberDay">2<span>d</span></div> 
                                <div ng-click="data.duration = 3;data.durationUnit = 'd' " class="numberDay">3<span>d</span></div> 
                                <div ng-click="data.duration = 4;data.durationUnit = 'd' " class="numberDay">4<span>d</span></div> 
                                <div ng-click="data.duration = 5;data.durationUnit = 'd' " class="numberDay">5<span>d</span></div> 
                                <div ng-click="data.duration = 6;data.durationUnit = 'd' " class="numberDay">6<span>d</span></div> 
                                <div ng-click="data.duration = 7;data.durationUnit = 'd' " class="numberDay">7<span>d</span></div> 
                                <div ng-click="data.duration = 8;data.durationUnit = 'd' " class="numberDay">8<span>d</span></div> 
                            </div>
                        </div>
                    </div> 
                    <div class="priority"ng-class="{'p1':data.priority==1,'p2':data.priority==2,'p3':data.priority==3}"></div>
                </div>    

            </div>




            <!-- release tab -->
            <div  class="cont" ng-show="tasks.isSelected(2)">
                <div class="storyBlock" ng-repeat="data in tasks.tlist | filter : {'released':'true'}" ng-class="{'inactive':!showDropList}">
                    <div ng-click="tasks.markBlock(data)"  class="releaseTag" ng-class="{'actv':data.released,'inact':!data.released,'markMode':tasks.markModeVar}">
                        <div></div>  
                        <i class=" fa fa-check fa-5x" ng-if="data.marked"></i>
                    </div> 

                    <div class="RoundDropDown" popup-menu="showDropList">
                        <div class="DropBtn" ng-class="{ 'DropBtnAct':  showDropList }"></div>
                        <div class="DropCont pop-child bgrid -bg-s-120" ng-show="showDropList">
                            <button class="bgrid " ng-click="showDropList=false;tasks.removeFromReleaseBacklog(data)">Remove story</button>
                            <div popup-menu="showPriorityList">
                                <button>Set Priority </button>
                                <div class="DropCont" ng-show="showPriorityList">
                                    <button ng-click="data.priority = 0;showDropList=false;">None</button>
                                    <button ng-click="data.priority = 1;showDropList=false;">Low</button>
                                    <button ng-click="data.priority = 2;showDropList=false;">Medium</button>
                                    <button ng-click="data.priority = 3;showDropList=false;">High</button>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div  class="title" >
                        <input class="ellip" title="{{data.title}}" ng-model="data.title" ng-mousedown="tasks.titleClick(data)" ng-blur="tasks.cancelTitleEdit(data)" ng-keydown="tasks.titleSave($event,data)"  ng-class="{'bg-grey':data.titleEdit}" > 
                    </div>
                    <textarea class="description " ng-mousedown="tasks.descClick(data)" ng-blur="tasks.cancelDescEdit(data)"  ng-keydown="tasks.descSave($event,data)" ng-class="{'bg-grey':data.descEdit}" ng-model="data.description">{{data.description}}</textarea> 
                    <div class="date" >
                        <table>
                            <tr>
                                <td class="c1">From </td>
                                <td class="c2">
                                    <!-- <datepicker class="float-l" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-format=" MMM dd ">
                                    <input class="c2Input" ng-model="data.startDate" type="text"/> 
                                    </datepicker> -->
                                </td>
                            </tr>  
                            <tr>
                                <td class="c1">To </td>
                                <td class="c2">
                                    <!-- <datepicker class="float-l" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-format=" MMM-dd ">
                                    <input class="c2Input" ng-model="data.endDate" type="text"/> 
                                    </datepicker> -->
                                </td>
                            </tr>    
                        </table>
                    </div>
                    <div class="time" popup-menu="data.showTaskPop">
                        <div >{{data.duration}}<span>{{ data.durationUnit }}</span></div>
                        <div class="popBox -l-30" ng-class="{ 'hidden' : ! data.showTaskPop }">
                            <div class="topArrow" ></div>
                            <div class="closeBtn" ng-click="data.showTaskPop = ! data.showTaskPop"></div>
                            <div class="cont">
                                <div ng-click="data.duration = 1;data.durationUnit = 'h' " class="numberHour">1<span>h</span></div> 
                                <div ng-click="data.duration = 2;data.durationUnit = 'h' " class="numberHour">2<span>h</span></div> 
                                <div ng-click="data.duration = 4;data.durationUnit = 'h' " class="numberHour">4<span>h</span></div>  
                                <div ng-click="data.duration = 8;data.durationUnit = 'h' " class="numberHour">8<span>h</span></div>  
                                <div ng-click="data.duration = 1;data.durationUnit = 'd' " class="numberDay">1<span>d</span></div> 
                                <div ng-click="data.duration = 2;data.durationUnit = 'd' " class="numberDay">2<span>d</span></div> 
                                <div ng-click="data.duration = 3;data.durationUnit = 'd' " class="numberDay">3<span>d</span></div> 
                                <div ng-click="data.duration = 4;data.durationUnit = 'd' " class="numberDay">4<span>d</span></div> 
                                <div ng-click="data.duration = 5;data.durationUnit = 'd' " class="numberDay">5<span>d</span></div> 
                                <div ng-click="data.duration = 6;data.durationUnit = 'd' " class="numberDay">6<span>d</span></div> 
                                <div ng-click="data.duration = 7;data.durationUnit = 'd' " class="numberDay">7<span>d</span></div> 
                                <div ng-click="data.duration = 8;data.durationUnit = 'd' " class="numberDay">8<span>d</span></div> 
                            </div>
                        </div>
                    </div>  
                    <div class="priority"ng-class="{'p1':data.priority==1,'p2':data.priority==2,'p3':data.priority==3}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
