
<div class="RoundDropDown" >
    <div class="DropBtn" ng-click="feed.showDropList = ! feed.showDropList" ng-class="{ 'DropBtnAct':  feed.showDropList }"></div>
    <div class="DropCont" ng-class="{ 'hidden': ! feed.showDropList }">
    	<button ng-if="feed.subject_type == 'App\\Status'" ng-click="fc.removeStatus($index, feed)">Delete</button>
    	<div ng-if="feed.subject_type == 'App\\Task'" popup-menu="showProgress">
        	<button>Set Progress</button>
		    <div class="DropCont" ng-show="showProgress == true">
		    	<button ng-click="fc.setTaskProgress(feed, 0)">0%</button>
		    	<button ng-click="fc.setTaskProgress(feed, 10)">10%</button>
		    	<button ng-click="fc.setTaskProgress(feed, 20)">20%</button>
		    	<button ng-click="fc.setTaskProgress(feed, 30)">30%</button>
		    	<button ng-click="fc.setTaskProgress(feed, 40)">40%</button>
		    	<button ng-click="fc.setTaskProgress(feed, 50)">50%</button>
		    	<button ng-click="fc.setTaskProgress(feed, 60)">60%</button>
		    	<button ng-click="fc.setTaskProgress(feed, 70)">70%</button>
		    	<button ng-click="fc.setTaskProgress(feed, 80)">80%</button>
		    	<button ng-click="fc.setTaskProgress(feed, 90)">90%</button>
		    	<button ng-click="fc.setTaskProgress(feed, 100)">100%</button>
		    </div>
	   	</div>
        <div ng-if="feed.subject_type == 'App\\Task'" popup-menu="showPriority">
	        <button>Set Priority </button>
			<div class="DropCont" ng-show="showPriority == true">
		    	<button ng-click="fc.setTaskPriority(feed,1)">Low</button>
		    	<button ng-click="fc.setTaskPriority(feed,2)">Medium</button>
		    	<button ng-click="fc.setTaskPriority(feed,3)">High</button>
		    </div>
		</div>
        <button ng-if="feed.subject_type == 'App\\Task'" ng-click="fc.setTaskProgress(feed, 100)">Mark&nbsp;as&nbsp;complete&nbsp;<b>&#x2714;</b></button>
    </div>
</div>