<div class="feedSetMain">
    <div class="RoundDropDown" >
        <div class="DropBtn" ng-click="feed.showDropList = ! feed.showDropList" ng-class="{ 'DropBtnAct':  feed.showDropList }"> </div>
        <!--<div class="closeBtn"ng-click="feed.showDropList = ! feed.showDropList"  ng-class="{ 'hidden': ! feed.showDropList }"></div>-->
        <div class="DropCont" ng-class="{ 'hidden': ! feed.showDropList }">
            <button ng-if="feed.subject_type == 'App\\Status'" ng-click="removeStatus($index, feed)">Delete</button>
            <button ng-if="feed.subject_type == 'App\\Task'">Set Progress</button>
            <button ng-if="feed.subject_type == 'App\\Task'">Set Priority</button>
            <button ng-if="feed.subject_type == 'App\\Task'">Mark as complete</button>
        </div>
    </div>
    <div  class="contHead">
        <div  ng-show="feed.additional_type =='CommentPosted'" >{{ feed.origin.email }} posted comment {{ feed.subject.commentable_id }}</div>
    </div>
    <div class="cont">
        <div class="left bgrid -bg-s-80">
            <div class="img">

            </div>
        </div>
        <div class="right  bgrid -bg-s-80-w">
            <div class="head">
                <div ng-if="feed.type == 'StatusPosted'">{{ feed.origin.email }} posted status <span ng-if="feed.project">in {{ feed.project.name }}</span></div>
                <div ng-if="feed.type == 'ProjectCreated'">{{ feed.origin.email }} created {{ feed.subject.name }} project</div>
                <div ng-if="feed.type == 'ProjectDeleted'">{{ feed.origin.email }} deleted {{ feed.subject.name }} project</div>
                <div ng-if="feed.type == 'ProjectCompleted'">{{ feed.origin.email }} completed {{ feed.subject.name }} project</div>

                <div ng-if="feed.type == 'UserRemovedFromProject'">{{ feed.origin.email }} removed {{ feed.subject.email }} from {{ feed.context.name }} project</div>
                <div ng-if="feed.type == 'UserAddedToProject'">{{ feed.origin.email }} added {{ feed.subject.email }} to {{ feed.context.name }} project</div>

                <div ng-if="feed.type == 'TaskCreated'">{{ feed.origin.email }} created {{ feed.subject.name }} task in {{ feed.project.name}}</div>
                <div ng-if="feed.type == 'TaskRemoved'">{{ feed.origin.email }} removed {{ feed.subject.name }} task from {{ feed.project.name }}</div>
                <div ng-if="feed.type == 'TaskCompleted'">{{ feed.origin.email }} completed {{ feed.subject.name }} task in {{ feed.project.name }}</div>
                <div ng-if="feed.type == 'DocumentUploaded'">{{ feed.origin.email }} uploaded document in {{ feed.project.name }}</div>
            </div>

            <div class="mid">
                <span ng-if="feed.type == 'ProjectCreated'">{{ feed.subject.description }}</span>
                <span ng-if="feed.type == 'TaskCreated'">{{ feed.subject.description }}</span>
                <span ng-if="feed.type == 'TaskCompleted'">{{ feed.subject.description }}</span>
                <span ng-if="feed.type == 'StatusPosted'">{{ feed.subject.message }}</span>
                <div class="feedFile" ng-if="feed.type == 'DocumentUploaded'">
                    <div class="feedFileImg">
                        <div class="head">
                            <img src="{{ document.url }}">
                        </div>
                        <div class="foot">
                            <a>{{ document.url }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mid">
                <attachment ng-repeat="attachment in feed.attachments"> 
                </attachment>
            </div>
            <div class="foot">
                <div class="head">
                    <span class="cnmtBtn" ng-click="feed.showDetails = ! feed.showDetails" >Comment</span> - <span class="date">{{ feed.subject.updated_at }}</span>
                </div>
                <div class="comment-slot">
                    <!--COMMENT SLOT-->
                    <comment ng-repeat="comment in feed.comments" class="commentSet">
                    </comment>
                <div class="commentForm foot" ng-class="{ 'hidden': ! feed.showDetails }" >
                    <textarea class="bgrid" type="text" ng-model="feed.comment"></textarea>
                    <div>
                        <button class="b-btn-sm" ng-click="postComment(feed)">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>