@import "../base/variables";
@import "../functions/baseFunctions";
.sec-left{
  background:$themeAsh;
  @include transition(left 0.3s);
  color:#ccc;
  font-size: 95%;
  @include shadow(0,0,4px,#aaa);
}
.asideIcon > .img{
  background:rgba(0,0,0,0.2);
}
.asideIcon > .img > img{
  opacity:0.4;
}
.NestedAsideLink .asideName{
  border-left: 2px solid rgba(255,255,255,0.05);
}
.listHead > div{
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s;
}
.listHead .hiddenList{
  overflow: hidden;
  height:0px;
}
.BCZIcon{
  text-align: center;
  line-height:55px;
  color:$themeColor;
  font-family: Masterblast;
  font-size: 160%;
  font-weight: 500;
}
.sec-mid{
  margin-bottom:40px;
  @include transition(top 0.8s);
}

.notificationBar{ 
  background:#fcfcfc;
  border-bottom:1px solid #ddd;
  padding-left:10px;
  line-height:30px;
  font-size:90%;
  z-index:1;
  padding:0 60px;
  text-align:center;
  @include transition(top 0.8s);
}