
$themeColor : #ec741a;
  $themeColorR : 236;
  $themeColorG : 116;
  $themeColorB : 26;
$themeDark : #3d0042;
$themeAsh : #313131;

.asideButton:hover{
  background:rgba($themeColorR,$themeColorG,$themeColorB,.2);
}
.postform > .heading > span:hover{
  border-bottom:2px rgba($themeColorR,$themeColorG,$themeColorB,.3) solid;
}
.postform > .heading > .active{
  border-bottom:2px rgba($themeColorR,$themeColorG,$themeColorB,.6) solid;
}
.postform > .heading > .active:hover{
  border-bottom:2px rgba($themeColorR,$themeColorG,$themeColorB,.6) solid;
}

.Aside .active { background: $themeColor;}
.Aside .active:hover {background: $themeColor; }

#powerProgress{
  background:$themeColor;
}

.sec-left{
  background:$themeAsh;
}