.fluidGrid{
  display: block; 
  float: left;
  padding:10px;
  width:100%;
  height:100%;
}
.flexPage{
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding:5px;
  .flex-1,.flex-2,.flex-3,.flex-4,.flex-5,
  .flex-6,.flex-7,.flex-8,.flex-9,.flex-10
  { display: block;
    float:left;

  }

  .flex-1{ width:10%; }
  .flex-2{ width:20%; }
  .flex-3{ width:30%; }
  .flex-4{ width:40%; }
  .flex-5{ width:50%; }
  .flex-6{ width:60%; }
  .flex-7{ width:70%; }
  .flex-8{ width:80%; }
  .flex-9{ width:90%; }
  .flex-10{ width:100%; }
  .-m{ margin:5px }
  .-p{ padding:5px }
  .-a{ width:100%; height:100%; }

  .-h-50{ height:50px; }
  .-h-100{ height:100px; }
  .-h-150{ height:150px; }
  .-h-200{ height:200px; }
  .-h-250{ height:250px; }
  .-h-300{ height:300px; }
  .-h-350{ height:350px; }
  .-h-400{ height:400px; }
  .-h-450{ height:450px; }
  .-h-500{ height:500px; }
  .-h-550{ height:550px; }
  .-h-600{ height:600px; }
  .-h-650{ height:650px; }
  .-h-700{ height:700px; }
}
.flex-1{ width:10%; }
.flex-2{ width:20%; }
.flex-3{ width:30%; }
.flex-4{ width:40%; }
.flex-5{ width:50%; }
.flex-6{ width:60%; }
.flex-7{ width:70%; }
.flex-8{ width:80%; }
.flex-9{ width:90%; }
.flex-10{ width:100%; }
.Bframe{
  display: none;
  float: left;
  color:#fff;
  height:100%;

  -webkit-transition:margin 0.5s;
  -moz-transition:margin 0.5s;
  -ms-transition:margin 0.5s;
  -o-transition:margin 0.5s;
  transition:margin 0.5s;

  .head,
  .mid,
  .foot{
    display: block;
    float: left;
    width: 100%;
    div{
      padding:3px;
    }
  }
  .bf-1{height:10%}
  .bf-2{height:20%}
  .bf-3{height:30%}
  .bf-4{height:40%}
  .bf-5{height:50%}
  .bf-6{height:60%}
  .bf-7{height:70%}
  .bf-8{height:80%}
  .bf-9{height:90%}
  .bf-10{height:100%}

  .bf-FS-1{font-size: 90%;}
  .bf-FS-2{font-size: 110%;}
  .bf-FS-3{font-size: 140%;}
  .bf-FS-4{font-size: 200%;}
  .bf-FS-5{font-size: 230%;}
  .bf-FO-1{ color:rgba(255,255,255,.4); }
  .bf-FO-2{ color:rgba(255,255,255,.5); }
  .bf-FO-3{ color:rgba(255,255,255,.6); }
  .bf-FO-4{ color:rgba(255,255,255,.7); }
  .bf-FO-5{ color:rgba(255,255,255,.8); }


}
.Bframe:nth-child(1) { display: block;  }