.right-side{
  float: left;
  position:absolute;
  top: 0px;
  width: 300px;
  right:  0px;
  min-height:900px;
}  
.mainLeft{
	position:fixed;
	top:50px; 
	right:0px;
	bottom:0px;
	width:calc(40% - 20px);
	overflow:scroll;
}