@font-face{ font-family:Walkway;src:url('../../fonts/Walkway Bold.ttf');font-weight:400; }
@font-face{ font-family:Walkway;src:url('../../fonts/Walkway Black.ttf');font-weight:700; }
@font-face{ font-family:Dosis;src:url('../../fonts/Dosis-Bold.ttf');font-weight:700; }
@font-face{ font-family:Dosis;src:url('../../fonts/Dosis-Book.ttf');font-weight:200; }
@font-face{ font-family:Dosis;src:url('../../fonts/Dosis-Medium.ttf');font-weight:300; }
@font-face{ font-family:Dosis;src:url('../../fonts/Dosis-Light.ttf');font-weight:100; }
@font-face{ font-family:Dosis;src:url('../../fonts/Dosis-SemiBold.ttf');font-weight:400; }
@font-face{ font-family:Organo;src:url('../../fonts/Organo.ttf'); }
@font-face{ font-family:Station;src:url('../../fonts/Station.ttf'); }
@font-face{ font-family:AnjaEliane;src:url('../../fonts/AnjaEliane.ttf'); }
@font-face{ font-family:Masterblast;src:url('../../fonts/Masterblast.otf'); }
@font-face{ font-family:Code;src:url('../../fonts/CODE-Bold.otf');font-weight: normal; }
@font-face{ font-family:Code;src:url('../../fonts/CODE-Light.otf');font-weight: normal;font-stretch: condensed; }
@font-face{ font-family:Gothic;src:url('../../fonts/GOTHIC.ttf');  }
@font-face{ font-family:GothicB;src:url('../../fonts/GOTHICB.ttf');  }