@import "../../functions/baseFunctions";
.popBox{
  display: block;
  float: left;
  position: absolute;
  top:40px;
  min-height: 50px;
  min-width: 50px;

  .topArrow{
    display: block;
    float: left;
    position: absolute;
    top:-6px;
    width:15px;
    height:15px;
    z-index:30px;
  }
  .cont{
    display: block;
    float: left;
    position: relative;
    min-width: 50px;
    min-height: 50px;
  }
  .closeBtn{
    display: block;
    float: left;
    position: absolute;
    top:2px;
    right:2px;
    width:7px;
    height:8px;
  }
}
.popBox.show{
    width:300px;
    min-height:0px;
    max-height:0px; 
    overflow:hidden;
    opacity:0px;
  }
.popBox.-l{  right:0px; .topArrow{ right:10px; }}
.popBox.-r{  left:0px; .topArrow{ left:10px; }}
.popBox.-r-10{  left:10px; .topArrow{ left:10px; }}

.popBox.-t-20{  top:20px; }
.popBox.-t-30{  top:30px; }
.popBox.-free{
  max-width:1000px;
  max-height:1000px;
}