<div class="page-feeds">
    <div class="p-feeds bgrid -bg-s-300-w">
        <div class="postform"  ng-controller="TabController as panel" >
            <div class="heading ">
                <span   ng-class="{active:panel.isSelected(1) }"  ng-click="panel.selectTab(1)" >Status</span>
                <span   ng-class="{active:panel.isSelected(2) }"  ng-click="panel.selectTab(2)" >Add Task</span>
                <span   ng-class="{active:panel.isSelected(3) }"  ng-click="panel.selectTab(3)" >Upload file</span>
                <span   ng-class="{active:panel.isSelected(4) }"  ng-click="panel.selectTab(4)" >Post a message</span>
            </div>
            <!-- FEEDS -->
            <div class="cont  tab1"  ng-show="panel.isSelected(1)">
                <div class="head">
                    <textarea name="" placeholder="Type your message here"rows="3"></textarea>
                </div>
                <div class="mid">
                    <div class="p-dropzone">
                        Drop your files here
                    </div>
                </div>
                <div class="foot b-layer-3">
                    <button >Submit</button>
                    <div class="selectGrp">
                        <input type="hidden" value="0" />
                        <div class="text-slot">
                            All users
                        </div>
                        <div class="foot b-p-rel b-layer-2">
                            <span value="0">All users</span>
                            <span ng-repeat="project in projects" value="{{ project.id }}">{{ project.name }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ADD TASK -->
            <div class="cont tab2"  ng-show="panel.isSelected(2)">
                <div class="head">
                    <input name="" placeholder="Task Title" >
                </div>
                <div class="mid">
                    <div class="p-dropzone">
                        Drop your files here
                    </div>
                </div>
                <div class="head">
                    <input type="checkbox"/><span>Make this as a Task list</span>
                </div>
                <div class="head">
                    <textarea name="" placeholder="Type your message here"rows="3"></textarea>
                </div>
                <div class="head">
                    <div class="half">
                        <div >
                            <div>Project name</div>
                            <select>
                                <option value="{{ project.id }}" ng-repeat="project in projects">{{ project.name }}</option>
                            </select>
                        </div>
                        <div >
                            <div>Task list name</div>
                            <select>
                                <option value="1" >General</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="foot b-layer-3">
                    <button >Submit</button>
                </div>
            </div>
            <!-- UPLOAD FILES -->
            <div class="cont tab3"  ng-show="panel.isSelected(3)">
                <div class="mid">
                    <div class="p-dropzone">
                        Drop your files here
                    </div>
                </div>
                <div class="head">
                    <textarea name="" placeholder="File description"rows="3"></textarea>
                </div>
                <div class="head">
                    <div class="half">
                        <div >
                            <div>Project name</div>
                            <select>
                                <option value="{{ project.id }}" ng-repeat="project in projects">{{ project.name }}</option>
                            </select>
                        </div>
                        <div >
                            <div>Folder name</div>
                            <select>
                                <option value="1" >Discussion</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="foot b-layer-3">
                    <button >Submit</button>
                </div>
            </div>
            <!-- POST A MESSAGE -->
            <div class="cont tab4"  ng-show="panel.isSelected(4)">
                <div class="head">
                    <input name="" placeholder="Forum Title" >
                </div>
                <div class="mid">
                    <div class="p-dropzone">
                        Drop your files here
                    </div>
                </div>
                <div class="head">
                    <input type="checkbox"/><span>Make this as a Task list</span>
                </div>
                <div class="head">
                    <textarea name="" placeholder="Type your message here"rows="3"></textarea>
                </div>
                <div class="head">
                    <div class="half">
                        <div >
                            <div>Project name</div>
                            <select>
                                <option value="{{ project.id }}" ng-repeat="project in projects">{{ project.name }}</option>
                            </select>
                        </div>
                        <div >
                            <div>Select category</div>
                            <select>
                                <option value="1" >General</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="foot b-layer-3">
                    <button >Submit</button>
                </div>
            </div> 
        </div>
			
		<!-- FEEDS -->	
			
		<div class="feed-slot bgrid ">
            <!--FEED SET-->

			<div class="feedSet" ng-repeat="feed in feeds">
				<div  class="contHead">
                    <div  ng-show="feed.type =='CommentPosted'" >{{ feed.origin.email }} posted comment {{ feed.subject.commentable_id }} project</div>
                </div>
				<div class="cont">
					<div class="left bgrid -bg-s-80">
						<div class="img">

						</div>
					</div>
					<div class="right  bgrid -bg-s-80-w">
						<div class="head">

							<div ng-show="feed.type =='ProjectCreated'">{{ feed.origin.email }} created {{ feed.subject.name }} project</div>
							<div ng-show="feed.type =='ProjectDeleted'">{{ feed.origin.email }} deleted {{ feed.subject.name }} project</div>
							<div ng-show="feed.type =='ProjectCompleted'">{{ feed.origin.email }} completed {{ feed.subject.name }} project</div>

							<div ng-show="feed.type =='UserRemovedFromProject'">{{ feed.origin.email }} removed {{ feed.subject.email }} from {{ feed.context.name }} project</div>
							<div ng-show="feed.type =='UserAddedToProject'">{{ feed.origin.email }} added {{ feed.subject.email }} to {{ feed.context.name }} project</div>

                            <div ng-show="feed.type =='TaskCreated'">{{ feed.origin.email }} created {{ feed.subject.name }} project</div>
							<div ng-show="feed.type =='TaskRemoved'">{{ feed.origin.email }} removed {{ feed.subject.name }} project</div>
							<div ng-show="feed.type =='TaskCompleted'">{{ feed.origin.email }} completed {{ feed.subject.name }} project</div>

							<div ng-show="feed.type =='CommentPosted'">{{ feed.origin.email }} posted comment {{ feed.subject.commentable_id }} project</div>

                        </div>

						<div class="mid">
                            {{ feed.filtered.description }}
						</div>
						<div class="foot">
							<div class="head">
								<span class="cnmtBtn">Comment</span> - <span class="date">{{ feed.subject.updated_at }}</span>
							</div>
							<div class="comment-slot">
							<!--COMMENT SLOT-->
                                <div ng-repeat="comment in feed.comments" class="commentSet">
                                    <div class="imgSec bgrid -bg-s-60 -bg-s-10-off">
                                        <div class="img"> </div>
                                    </div>
                                    <div class="contSec bgrid -bg-s-80-w">
                                        <div class="head">{{ comment.user_id }}</div>
                                        <div class="mid">{{ comment.comment }}</div>
                                        <div class="foot">
                                            <div >
                                                <span class="date" >{{ comment.updated_at }}</span>
                                                <span class="b-link"> Delete </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

							</div>
							<div class="foot">
                                <textarea class="bgrid" type="text"></textarea>
                                <div>
							        <button class="b-btn-sm" >Submit</button>
                                </div>
							</div>
						</div>
					</div>
				</div>
			</div>



		</div>
    </div>
    <div class="bgrid right-side -bg-s-300">

    </div>
</div>
