<div class="projects">
    <div class="flexPage">
        <div class="fluidGrid">
            <div class="head">
                View by Group
                <div class="bgrid -bg-s-100 -f-right b-p-rel ">
                    <div class="custButton -blue" ng-click="showNoti = ! showNoti" >New Project</div>
                    <div class="popBox -l" ng-class="{ 'hidden' : ! showNoti }">
                        <div class="topArrow" ></div>
                        <div class="closeBtn" ng-click="showNoti = ! showNoti"></div>
                        <div class="cont">
                            <div class="createProjectPopup">
                                <h5>Create New Project</h5>
                                <input type="text" placeholder="Project name" />
                                <h6>Owner</h6>
                                <select>
                                    <option  value="asd">Test user</option>
                                    <option  value="asd">Test user 2</option>
                                </select>
                                <h6>Project Overview</h6>
                                <textarea placeholder="project overview" rows="4"></textarea>
                                <div>
                                    <table>
                                        <tr>
                                            <td><input type="checkbox"/></td>
                                            <td>Show this project overview by default</td>
                                        </tr>
                                    </table>
                                </div>
                                <h6>Project access</h6>
                                <form>
                                    <table>
                                        <tr>
                                            <td><input type="radio" name="sex" value="male" checked></td>
                                            <td>Show this project overview by default</td>
                                        </tr>
                                        <tr>
                                            <td><input type="radio" name="sex" value="female"></td>
                                            <td>Show this project overview by default</td>
                                        </tr>
                                    </table>
                                </form>
                                <div class="rowspace"></div>
                                <div>
                                    <div class="custButton -blue">Create Project</div>
                                    <div class="custButton " ng-click="showNoti = ! showNoti">Cancel</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mid">
                <table>
                    <tr>
                        <th>PROJECT NAME</th>
                        <th>OWNER</th>
                        <th>TASK</th>
                        <th>MILESTONE</th>
                        <th>%</th>
                    </tr>
                    <tr ng-repeat="project in projectList" ui-sref="projectShow({id:project.id})">
                        <td>{{project.name}}</td>
                        <td>{{project.owner.email}}</td>
                        <td>{{project.completedTasks}} / {{project.tasks.length}}</td>
                        <td>{{project.completedMilestones}} / {{project.milestones.length}}</td>
                        <td>{{project.projectCompletion}} %</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>