<div class="projects">
    <div class="head">
        View by Group
        <button>New Project</button>
    </div>
    <div class="mid">
        <table>
            <tr>
                <th>PROJECT NAME</th>
                <th>OWNER</th>
                <th>TASK</th>
                <th>MILESTONE</th>
                <th>%</th>
            </tr>
            <tr ng-repeat="project in projectList" ui-sref="projectShow({id:project.id})">
                <td>{{project.name}}</td>
                <td>{{project.owner.email}}</td>
                <td>{{project.completedTasks}} / {{project.tasks.length}}</td>
                <td>{{project.completedMilestones}} / {{project.milestones.length}}</td>
                <td>{{project.projectCompletion}} %</td>
            </tr>
        </table>
    </div>
</div>