@import 'base/variables';
@import 'functions/baseFunctions';
@import 'base/font_set';
* {
  -webkit-font-smoothing: antialiased;
}
body{
  font-size:88%;
  min-width: 100%;
  min-height: 100%;
  background:#eee;
  font-family: Gothic ;
  color: #313131;
}
.blueNav{
	color:#ddd;
}
.navLink{
	display:block;
	float:left;
	height:50px;
	line-height:50px;
	padding:5px 5px;
	min-width:60px;
	color:#ccc;
	text-align:center;
}
.navLink:hover{
	cursor:pointer;
	background:rgba(255,255,255,0.1);
	color:#fff;
}
.-f-right{
	float:right;
}
.rowspace{display: block;float: left;width: 100%; min-width: 10px;height: 20px;}
.overflow-s{ overflow:scroll; }
.overflow-s-y{ overflow-y:scroll; }
.overflow-s-x{ overflow-x:scroll; }
.overflow-h{ overflow-x:hidden; }

a:hover{cursor:pointer;}
.RoundDropDown{
	display:block;
	float:left;
	position:absolute;
	top:10px;
	right:10px;
	width:15px;
	height:15px;
    border-radius:50%;
	.DropBtn{
		display:block;
		float:left;
		position:absolute;
		top:0px;
		right:0px;
		width:15px;
		height:15px;
		z-index:1;
		border-radius:50%;
		border:2px solid #ddd;
		transition:border 0.3s,background 0.3s;
	}
	.DropCont{
		display:block;
		float:left;
		position:absolute;
		top:15px;
		right:0px;
		min-width:10px;
		min-height:30px;
		background:#f7f7f7;
		border:1px solid #ddd;
		z-index:3;
		box-shadow:0 0 5px #ccc;
    font-size:90%;
		button{
			display:block;
			float:left;
			background:#fff;
			outline:0;
			border:0;
			width:100%;
			min-width:10px;
			height:25px;
			padding:0px;
			margin:0px;
			line-height:25px;
			padding:0 10px;
            font-size: 85%;
            color:#555;
            text-align:left;
		}
		button:hover{
			background:#eee;
			outline:0;
			border:0;
		}
	}
	.DropBtnAct{
		border:6px solid rgba($themeColorR,$themeColorG,$themeColorB,0.5);
	}
	.closeBtn{
		display:block;
		float:left;
		position:fixed;
		top:0px;
		bottom:0px;
		left:0px;
		right:0px;
	}
	.closeBtn:hover{
		cursor:default;
	}
}
.RoundDropDown:hover{
	cursor:pointer;
	.DropBtn{
		border:6px solid rgba($themeColorR,$themeColorG,$themeColorB,0.5);
	}
}

/* images */
.flexPage {
  .bg1 {
    position: relative;
    background: url($bg1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .bg2 {
    position: relative;
    background: url($bg2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .bg3 {
    position: relative;
    background: url($bg3);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }


  .imageCover{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.32+0,0+20,0+64,0.57+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.32) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 64%, rgba(0,0,0,0.57) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.32)), color-stop(20%,rgba(0,0,0,0)), color-stop(64%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.57))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.32) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 64%,rgba(0,0,0,0.57) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.32) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 64%,rgba(0,0,0,0.57) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.32) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 64%,rgba(0,0,0,0.57) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.32) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 64%,rgba(0,0,0,0.57) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52000000', endColorstr='#91000000',GradientType=0 ); /* IE6-9 */
    trasition:background 1s;
  }
  .imageCover:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.53+0,0.11+20,0.12+27,0.63+100 */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUzIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjExIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI3JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42MyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.53) 0%, rgba(0,0,0,0.11) 20%, rgba(0,0,0,0.12) 27%, rgba(0,0,0,0.63) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.53)), color-stop(20%,rgba(0,0,0,0.11)), color-stop(27%,rgba(0,0,0,0.12)), color-stop(100%,rgba(0,0,0,0.63))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.53) 0%,rgba(0,0,0,0.11) 20%,rgba(0,0,0,0.12) 27%,rgba(0,0,0,0.63) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.53) 0%,rgba(0,0,0,0.11) 20%,rgba(0,0,0,0.12) 27%,rgba(0,0,0,0.63) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.53) 0%,rgba(0,0,0,0.11) 20%,rgba(0,0,0,0.12) 27%,rgba(0,0,0,0.63) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.53) 0%,rgba(0,0,0,0.11) 20%,rgba(0,0,0,0.12) 27%,rgba(0,0,0,0.63) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87000000', endColorstr='#a1000000',GradientType=0 ); /* IE6-8 */

  }
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

div::-webkit-scrollbar {
  width: 6px;
  height: 6px; 
}
div::-webkit-scrollbar-thumb ,
div::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
  border-radius:3px; 
}  

div:hover::-webkit-scrollbar-track:hover {
  background: rgba(0,0,0,0.1);
  border-radius:3px;
}
div:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.4);
  border-radius:3px;
}
.custHead {
  font-size: 14px;
  padding:10px 0;
}
input[type='text'],input[type='password'],textarea,select{
  min-height:30px;
  border: 1px solid #ccc;
  line-height: 30px;
  padding:0 7px;
}
textarea{line-height: 100%; padding:5px;}
h5{
  border-bottom: 1px solid rgba($blueR,$blueG,$blueB,0.4);
  padding:10px 0 7px 0;
  margin:5px 0 5px 0;
}
h6{
  margin:5px 0 0 0;
}
option{
  min-height:30px;
  line-height: 30px;
  margin:0;
}
option{
  margin: 0;
} 

.navLine{
  display:block;
  float:left;
  position:absolute; 
  height:2px;
  width:0px; 
  top:28px;
  background:rgba($themeColorR,$themeColorG,$themeColorB,.6); 
  transition: 0.5s;
}

.progBar{
  display:block;
  float:left;
  position:relative;
  width:calc(100% - 20px );
  height:15px;
  background:rgba(0,0,0,0.1);
  @include border-radius(2px);
  .progTrack{
    display:block;
    float:left;
    position:relative; 
    height:15px;
    background:$themeColor;
    @include border-radius(2px);
    @include transition(width 1s);
  }
  select{
    position:absolute;
    top:0px;
    right:-20px;
    height:15px;
    min-height:15px;
    line-height:15px; 
    background:rgba(0,0,0,0);
    color:rgba(0,0,0,0);
    border:none;
  } 
  option{
    border:1px solid #aaa;
    @include shadow(0,0,5px,rgba(0,0,0,0.4));
  }
}

