/* Layouts */
/* Colors */
/* images */
.feedSetMain {
  display: block;
  float: left;
  position: relative;
  width: 100%; }

.page-feeds {
  display: block;
  float: left; }

.p-feeds {
  float: left;
  min-width: 300px;
  left: 0px;
  top: 0px;
  right: 300px;
  height: 670px;
  max-height: 670px;
  padding: 0;
  overflow-y: scroll;
  -ms-overflow-y: scroll; }

.postform {
  display: block;
  float: left;
  width: 100%;
  min-height: 10px; }

.postform > .heading {
  width: 100%;
  height: 30px; }

.postform > .heading > span {
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  min-width: 60px;
  padding: 0 8px; }

.postform .cont, .postform .cont form > .head, .postform .cont form > .mid, .postform .cont form > .foot {
  display: block;
  float: left;
  width: 100%; }

.postform > .cont {
  float: left;
  width: 100%; }

.postform > .active {
  display: block; }

.postform .cont form > .head textarea {
  min-width: 100%;
  max-width: 100%;
  margin-top: 20px;
  padding: 0 10px 0 20px; }

.postform .cont form > .head input {
  width: 80%;
  max-width: 100%;
  min-width: 300px;
  margin: 20px 10px 10px 20px;
  padding: 0 10px 0 10px;
  height: 40px; }

.postform .cont form > .head input[type="checkbox"] {
  width: 12px;
  min-width: 12px;
  margin: 5px 10px 5px 30px;
  padding: 0;
  height: 12px; }

.p-dropzone {
  display: block;
  float: left;
  width: 80%;
  max-width: 100%;
  min-width: 300px;
  min-height: 30px;
  margin: 10px 10px 10px 20px;
  padding-left: 10px;
  border: dashed 1px #ddd;
  min-height: 30px;
  padding: 0px; }

.dropzone .dz-message {
  margin: 0px; }

.postform .cont form > .foot {
  width: 100%;
  height: 30px; }

.postform .cont form > .foot > button {
  float: right;
  padding: 0 6px;
  font-size: 80%;
  height: 20px;
  margin: 5px 15px 5px 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.postform .cont form > .foot > div {
  float: right;
  line-height: 25px;
  width: 140px;
  margin-right: 10px; }

.postform .cont form > .foot > div .text-slot {
  float: right;
  height: 30px;
  margin: 0 5px;
  width: 140px; }

.postform .cont form > .foot > div > .foot {
  display: none;
  float: left;
  width: 140px; }

.postform .cont form > .foot > div > .foot > span {
  display: block;
  float: left;
  width: 100%;
  padding: 5px 10px; }

.postform .cont form > .head .half {
  display: block;
  float: left;
  width: 80%;
  max-width: 100%;
  min-width: 300px;
  margin: 10px 10px 10px 20px;
  padding-left: 10px; }

.postform .cont form > .head .half > div {
  display: block;
  float: left;
  width: 50%; }

.postform .cont form > .head .half > div > div {
  display: block;
  float: left;
  width: calc(100% - 10px);
  margin-right: 10px;
  padding-left: 10px; }

.postform .cont form > .head .half > div > select {
  display: block;
  float: left;
  width: calc(100% - 10px);
  margin-right: 10px;
  height: 30px;
  padding-left: 10px; }

.feed-slot {
  display: block;
  float: left;
  min-height: 10px;
  width: 100%;
  margin-top: 10px; }

.feed-slot > .feedSet {
  display: block;
  float: left;
  width: 100%;
  min-height: 10px; }

.feed-slot > .feedSet .contHead > div {
  padding: 10px 10px 4px 10px; }

.feed-slot > .feedSet .cont > .left > .img {
  width: 60px;
  height: 60px;
  margin: 10px; }

.feed-slot > .feedSet .cont > .right > .head,
.feed-slot > .feedSet .cont > .right > .mid,
.feed-slot > .feedSet .cont > .right > .foot {
  min-height: 0px;
  width: 100%;
  padding-left: 10px; }

.feed-slot > .feedSet .cont > .right > .mid {
  min-height: 0px;
  width: 100%;
  padding: 2px 10px; }

.feed-slot > .feedSet .cont > .right > .foot > .head .cnmtBtn,
.feed-slot > .feedSet .cont > .right > .foot > .head .date {
  height: 30px;
  padding: 0 10px; }

.feed-slot > .feedSet .cont > .right > .foot > .head .date {
  color: #aaa; }

.feed-slot > .feedSet .cont > .right > .foot > .foot > textarea {
  display: block;
  float: left;
  margin: 2px 10px;
  width: 100%;
  max-width: 400px; }

.feed-slot > .feedSet .cont > .right > .foot > .foot > div {
  display: block;
  float: left;
  width: 100%; }

.feed-slot > .feedSet .cont > .right > .foot > .foot .b-btn-sm {
  margin-left: 10px; }

.b-btn-sm {
  display: block;
  float: left;
  padding: 0 6px;
  height: 20px;
  margin: 5px 15px 5px 5px; }

.commentSet > .contSec > div {
  display: block;
  float: left;
  min-height: 20px;
  line-height: 30px;
  padding: 0 10px;
  width: 100%; }

.commentSet > .imgSec > .img {
  display: block;
  float: left;
  height: 50px;
  width: 50px;
  margin: 5px; }

.commentSet > div > .foot > div > .date {
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  padding: 0 10px; }

.commentSet > div > .head,
.commentSet > div > .mid {
  display: block;
  float: left;
  line-height: 20px;
  padding: 0 10px;
  margin: 0px;
  min-height: 20px; }

.b-link {
  display: block;
  float: left;
  height: 30px;
  padding: 0 10px; }

.feedFile {
  display: block;
  float: left;
  width: 100%;
  margin: 5px 0; }
  .feedFile .feedFileImg {
    display: block;
    float: left;
    width: 150px;
    max-width: 150px; }
    .feedFile .feedFileImg .head {
      display: block;
      width: 150px;
      min-height: 10px;
      max-width: 150px;
      border: 1px solid #eee;
      margin: 0px;
      padding: 0px; }
      .feedFile .feedFileImg .head img {
        max-width: 100%;
        max-height: 100%; }
    .feedFile .feedFileImg .foot {
      display: block;
      float: left;
      width: 100%;
      min-height: 20px;
      background: #ddd;
      color: #333;
      margin: 0px;
      padding: 7px;
      text-align: center; }
  .feedFile .feedFileUnknown {
    display: block;
    float: left;
    min-width: 100%;
    margin: 5px 0; }
    .feedFile .feedFileUnknown .foot {
      display: block;
      float: left;
      min-width: 150px;
      min-height: 20px;
      background: #ddd;
      color: #333;
      margin: 0px;
      padding: 7px;
      text-align: center; }

.chatSystem {
  display: block;
  float: left;
  position: fixed;
  right: -310px;
  top: 50px;
  bottom: 0px;
  width: 300px;
  z-index: 3;
  transition: right 0.3s; }

.chatSystemAct {
  right: 0px; }

.popBox {
  display: block;
  float: left;
  position: absolute;
  top: 40px;
  min-height: 50px;
  min-width: 50px; }
  .popBox .topArrow {
    display: block;
    float: left;
    position: absolute;
    top: -6px;
    right: 20px;
    width: 15px;
    height: 15px; }
  .popBox .cont {
    display: block;
    float: left;
    position: relative;
    min-width: 50px;
    min-height: 50px; }
  .popBox .closeBtn {
    display: block;
    float: left;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 7px;
    height: 8px; }

.popBox.-l {
  right: 0px; }
  .popBox.-l .topArrow {
    right: 20px; }

.popBox.-r {
  left: 0px; }
  .popBox.-r .topArrow {
    left: 20px; }

.sBtn {
  display: block;
  float: left;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 15px;
  height: 15px; }

.spinnerCover {
  display: block;
  float: left;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px; }
  .spinnerCover .loaderOuter {
    display: block;
    float: left;
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    width: 40px;
    height: 40px; }
  .spinnerCover .loader {
    display: block;
    float: left;
    position: relative;
    width: 40px;
    height: 40px; }

.sBtn.-r5 {
  right: 5px; }

.sBtn.-r10 {
  right: 10px; }

.sBtn.-r15 {
  right: 15px; }

.sBtn.-r20 {
  right: 20px; }

.sBtn.-t5 {
  top: 5px; }

.sBtn.-t10 {
  top: 10px; }

.sBtn.-t15 {
  top: 15px; }

.sBtn.-t20 {
  top: 20px; }

.act {
  bottom: 0px;
  left: 0px; }

.MultiBars {
  display: block;
  float: left;
  width: 100%;
  height: 100%; }
  .MultiBars .head {
    display: block;
    float: left;
    width: 100%;
    height: 30px; }
  .MultiBars .Mchat {
    display: table;
    float: left;
    width: calc(100% - 20px);
    margin-left: 10px;
    height: calc(100% - 30px ); }
    .MultiBars .Mchat .bar {
      display: table-cell;
      float: left;
      width: calc( 100% / 7 );
      height: 100%;
      position: relative; }
      .MultiBars .Mchat .bar .line {
        display: block;
        float: left;
        width: 100%;
        height: 90%;
        position: relative; }
        .MultiBars .Mchat .bar .line .bar1, .MultiBars .Mchat .bar .line .bar2, .MultiBars .Mchat .bar .line .dummy {
          display: block;
          float: left;
          width: 80%;
          bottom: 0px;
          position: absolute; }

.fluidGrid {
  display: block;
  float: left;
  padding: 10px;
  width: 100%;
  height: 100%; }

.flexPage {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding: 10px; }
  .flexPage .flex-1, .flexPage .flex-2, .flexPage .flex-3, .flexPage .flex-4, .flexPage .flex-5,
  .flexPage .flex-6, .flexPage .flex-7, .flexPage .flex-8, .flexPage .flex-9, .flexPage .flex-10 {
    display: block;
    float: left;
    overflow: hidden; }
  .flexPage .flex-1 {
    width: 10%; }
  .flexPage .flex-2 {
    width: 20%; }
  .flexPage .flex-3 {
    width: 30%; }
  .flexPage .flex-4 {
    width: 40%; }
  .flexPage .flex-5 {
    width: 50%; }
  .flexPage .flex-6 {
    width: 60%; }
  .flexPage .flex-7 {
    width: 70%; }
  .flexPage .flex-8 {
    width: 80%; }
  .flexPage .flex-9 {
    width: 90%; }
  .flexPage .flex-10 {
    width: 100%; }
  .flexPage .-m {
    margin: 5px; }
  .flexPage .-p {
    padding: 5px; }
  .flexPage .-a {
    width: 100%;
    height: 100%; }
  .flexPage .-h-50 {
    height: 50px; }
  .flexPage .-h-100 {
    height: 100px; }
  .flexPage .-h-150 {
    height: 150px; }
  .flexPage .-h-200 {
    height: 200px; }
  .flexPage .-h-250 {
    height: 250px; }
  .flexPage .-h-300 {
    height: 300px; }
  .flexPage .-h-350 {
    height: 350px; }
  .flexPage .-h-400 {
    height: 400px; }
  .flexPage .-h-450 {
    height: 450px; }
  .flexPage .-h-500 {
    height: 500px; }
  .flexPage .-h-550 {
    height: 550px; }
  .flexPage .-h-600 {
    height: 600px; }
  .flexPage .-h-650 {
    height: 650px; }
  .flexPage .-h-700 {
    height: 700px; }

.Bframe {
  display: none;
  float: left;
  color: #fff;
  height: 100%;
  -webkit-transition: margin 0.5s;
  -moz-transition: margin 0.5s;
  -ms-transition: margin 0.5s;
  -o-transition: margin 0.5s;
  transition: margin 0.5s; }
  .Bframe .head,
  .Bframe .mid,
  .Bframe .foot {
    display: block;
    float: left;
    width: 100%; }
    .Bframe .head div,
    .Bframe .mid div,
    .Bframe .foot div {
      padding: 3px; }
  .Bframe .bf-1 {
    height: 10%; }
  .Bframe .bf-2 {
    height: 20%; }
  .Bframe .bf-3 {
    height: 30%; }
  .Bframe .bf-4 {
    height: 40%; }
  .Bframe .bf-5 {
    height: 50%; }
  .Bframe .bf-6 {
    height: 60%; }
  .Bframe .bf-7 {
    height: 70%; }
  .Bframe .bf-8 {
    height: 80%; }
  .Bframe .bf-9 {
    height: 90%; }
  .Bframe .bf-10 {
    height: 100%; }
  .Bframe .bf-FS-1 {
    font-size: 90%; }
  .Bframe .bf-FS-2 {
    font-size: 110%; }
  .Bframe .bf-FS-3 {
    font-size: 140%; }
  .Bframe .bf-FS-4 {
    font-size: 200%; }
  .Bframe .bf-FS-5 {
    font-size: 230%; }
  .Bframe .bf-FO-1 {
    color: rgba(255, 255, 255, 0.4); }
  .Bframe .bf-FO-2 {
    color: rgba(255, 255, 255, 0.5); }
  .Bframe .bf-FO-3 {
    color: rgba(255, 255, 255, 0.6); }
  .Bframe .bf-FO-4 {
    color: rgba(255, 255, 255, 0.7); }
  .Bframe .bf-FO-5 {
    color: rgba(255, 255, 255, 0.8); }

.Bframe:nth-child(1) {
  display: block; }

.sec-left {
  display: block;
  left: -140px;
  width: 200px;
  top: 50px;
  bottom: 0px;
  padding-top: 20px; }

.asideButton {
  display: block;
  float: left;
  width: 100%;
  min-height: 40px; }

.asideName {
  display: inline-block;
  float: left;
  line-height: 40px;
  padding-left: 10px;
  width: 140px;
  height: 100%; }

.asideIcon {
  display: inline-block;
  float: left;
  width: 60px;
  height: 100%; }

.asideIcon > .img {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin: 5px 15px; }

.asideIcon > .img > img {
  height: 30px;
  width: 30px; }

.NestedAsideLink,
.asideLink {
  display: block;
  float: left;
  width: 100%;
  min-height: 40px; }

.NestedAsideLink .asideName {
  width: 130px;
  margin-left: 10px; }

.sec-mid {
  display: block;
  left: 60px;
  right: 0px;
  top: 50px;
  min-height: calc( 100% - 50px ); }

.BCZIcon {
  display: block;
  float: left;
  height: 50px;
  width: 60px; }

.right-side {
  float: left;
  position: absolute;
  top: 0px;
  width: 300px;
  right: 0px;
  min-height: 900px; }

/* Colors */
/* images */
.projects .head, .projects .mid {
  display: block;
  float: left;
  width: 100%;
  padding: 20px 30px; }
.projects .mid table {
  width: 100%; }
.projects .mid th {
  padding: 10px; }
.projects .mid td {
  padding: 10px; }

.createProjectPopup {
  display: block;
  float: left;
  width: 450px;
  max-height: 450px;
  overflow-y: scroll;
  margin-bottom: 5px; }
  .createProjectPopup input[type=text], .createProjectPopup input[type=password], .createProjectPopup select, .createProjectPopup textarea {
    margin: 5px;
    width: 90%;
    max-width: 90%;
    min-width: 90%; }
  .createProjectPopup h5, .createProjectPopup h6 {
    margin-left: 5px;
    margin-right: 5px;
    width: 90%; }
  .createProjectPopup td {
    padding: 6px 0 3px 5px; }

/*# sourceMappingURL=layouts.css.map */
