/* Layouts */
/* Colors */
/* images */
.feedSetMain {
  display: block;
  float: left;
  position: relative;
  width: 100%; }

.page-feeds {
  display: block;
  float: left; }

.p-feeds {
  float: left;
  min-width: 300px;
  left: 0px;
  top: 0px;
  right: 300px;
  padding: 0; }

.postform {
  display: block;
  float: left;
  width: 100%;
  min-height: 10px; }

.heading {
  display: block;
  float: left;
  width: 100%;
  height: 30px;
  position: relative; }

.heading > span {
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  min-width: 60px;
  padding: 0 8px; }

.postform .cont, .postform .cont form > .head, .postform .cont form > .mid, .postform .cont form > .foot {
  display: block;
  float: left;
  width: 100%; }

.postform > .cont {
  float: left;
  width: 100%; }

.postform > .active {
  display: block; }

.postform .cont form > .head textarea {
  min-width: 100%;
  max-width: 100%;
  margin-top: 20px;
  padding: 0 10px 0 20px; }

.postform .cont form > .head input {
  width: 80%;
  max-width: 100%;
  min-width: 300px;
  margin: 20px 10px 10px 20px;
  padding: 0 10px 0 10px;
  height: 40px; }

.postform .cont form > .head input[type="checkbox"] {
  width: 12px;
  min-width: 12px;
  margin: 5px 10px 5px 30px;
  padding: 0;
  height: 12px; }

.p-dropzone {
  display: block;
  float: left;
  width: 80%;
  max-width: 100%;
  min-width: 300px;
  min-height: 30px;
  margin: 10px 10px 10px 20px;
  padding-left: 10px;
  border: dashed 1px #ddd;
  min-height: 30px;
  padding: 0px; }

.dropzone .dz-message {
  margin: 0px; }

.postform .cont form > .foot {
  width: 100%;
  height: 30px; }

.postform .cont form > .foot > button {
  float: right;
  padding: 0 6px;
  font-size: 80%;
  height: 20px;
  margin: 5px 15px 5px 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.postform .cont form > .foot > .Sel,
.postform .cont form > .foot > input {
  float: right;
  line-height: 25px;
  width: 140px;
  margin-right: 10px; }

.postform .cont form > .foot > div .text-slot {
  float: right;
  height: 30px;
  margin: 0 5px;
  width: 140px; }

.postform .cont form > .foot > div > .foot {
  display: none;
  float: left;
  width: 140px; }

.postform .cont form > .foot > div > .foot > span {
  display: block;
  float: left;
  width: 100%;
  padding: 5px 10px; }

.postform .cont form > .head .half {
  display: block;
  float: left;
  width: 80%;
  max-width: 100%;
  min-width: 300px;
  margin: 10px 10px 10px 20px;
  padding-left: 10px; }

.postform .cont form > .head .half > div {
  display: block;
  float: left;
  width: 50%; }

.postform .cont form > .head .half > div > div {
  display: block;
  float: left;
  width: calc(100% - 10px);
  margin-right: 10px;
  padding-left: 10px; }

.postform .cont form > .head .half > div > select {
  display: block;
  float: left;
  width: calc(100% - 10px);
  margin-right: 10px;
  height: 30px;
  padding-left: 10px; }

.feed-slot {
  display: block;
  float: left;
  min-height: 10px;
  width: 100%;
  margin-top: 10px; }

.feed-slot > .feedSet {
  display: block;
  float: left;
  width: 100%;
  min-height: 10px; }

.feed-slot > .feedSet .contHead > div {
  padding: 10px 10px 4px 10px; }

.feed-slot > .feedSet .cont > .left > .img {
  width: 60px;
  height: 60px;
  margin: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden; }

.feed-slot > .feedSet .cont > .left > .img > img {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden; }

.feed-slot > .feedSet .cont > .right > .head,
.feed-slot > .feedSet .cont > .right > .mid,
.feed-slot > .feedSet .cont > .right > .foot {
  min-height: 0px;
  width: 100%;
  padding-left: 10px; }

.feed-slot > .feedSet .cont > .right > .mid {
  min-height: 0px;
  width: 100%;
  padding: 2px 10px; }

.feed-slot > .feedSet .cont > .right > .foot > .head .cnmtBtn,
.feed-slot > .feedSet .cont > .right > .foot > .head .date {
  height: 30px;
  padding: 0 10px; }

.feed-slot > .feedSet .cont > .right > .foot > .head .date {
  color: #aaa; }

.feed-slot > .feedSet .cont > .right > .foot > .foot > textarea {
  display: block;
  float: left;
  margin: 2px 10px;
  width: 100%;
  max-width: 400px; }

.feed-slot > .feedSet .cont > .right > .foot > .foot > div {
  display: block;
  float: left;
  width: 100%; }

.feed-slot > .feedSet .cont > .right > .foot > .foot .b-btn-sm {
  margin-left: 10px; }

.b-btn-sm {
  display: block;
  float: left;
  padding: 0 6px;
  height: 20px;
  margin: 5px 15px 5px 5px; }

.comment-slot {
  float: left;
  display: table;
  margin-bottom: 7px;
  width: 400px; }

.commentSet {
  display: table-row;
  float: left;
  width: 100%;
  padding: 5px 0; }

.commentSet > .contSec > div {
  display: block;
  float: left;
  min-height: 20px;
  line-height: 30px;
  padding: 0 10px;
  width: 100%; }

.commentSet > .imgSec > .img {
  display: block;
  float: left;
  height: 50px;
  width: 50px;
  margin: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden; }

.commentSet > .imgSec > .img > img {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden; }

.commentSet > div > .foot {
  height: 20px; }

.commentSet > div > .foot > div > .date {
  display: block;
  float: left;
  height: 20px; }

.commentSet > div > .head,
.commentSet > div > .mid {
  display: block;
  float: left;
  line-height: 20px;
  padding: 0 10px;
  margin: 0px;
  min-height: 20px; }

.b-link {
  display: block;
  float: left;
  height: 20px;
  padding: 0 10px; }

.comment-slot > .foot {
  display: block;
  float: left;
  width: calc(100% - 75px);
  margin-left: 75px;
  padding: 5px; }

.comment-slot > .foot textarea {
  min-width: calc(100% - 85px);
  max-width: calc(100% - 85px); }

.comment-slot > .foot button {
  width: 50px;
  margin: 0px 4px; }

.comment-slot > .foot .clip {
  width: 20px;
  margin: 0 0 0 4px;
  background: #333; }

.feedFile {
  display: block;
  float: left;
  width: 100%;
  margin: 5px 0; }
  .feedFile .feedFileImg {
    display: block;
    float: left;
    width: 150px;
    max-width: 150px; }
    .feedFile .feedFileImg .head {
      display: block;
      width: 150px;
      min-height: 10px;
      max-width: 150px;
      border: 1px solid #eee;
      margin: 0px;
      padding: 0px; }
      .feedFile .feedFileImg .head img {
        max-width: 100%;
        max-height: 100%; }
    .feedFile .feedFileImg .foot {
      display: block;
      float: left;
      width: 100%;
      min-height: 20px;
      background: #ddd;
      color: #333;
      margin: 0px;
      padding: 7px;
      text-align: center; }
  .feedFile .feedFileUnknown {
    display: block;
    float: left;
    min-width: 100%;
    margin: 5px 0; }
    .feedFile .feedFileUnknown .foot {
      display: block;
      float: left;
      min-width: 150px;
      min-height: 20px;
      background: #ddd;
      color: #333;
      margin: 0px;
      padding: 7px;
      text-align: center; }

.feedFooterLeft {
  display: block;
  float: left;
  height: 100%; }
  .feedFooterLeft .block {
    display: block;
    float: left;
    height: 100%;
    width: 40px; }
    .feedFooterLeft .block .Btn {
      display: block;
      float: left;
      height: 100%;
      width: 40px;
      background: rgba(255, 255, 255, 0.1);
      text-align: center;
      line-height: 30px;
      border-right: 1px solid rgba(0, 0, 0, 0.15);
      padding: 1px; }
      .feedFooterLeft .block .Btn i.fa {
        font-size: 15px; }
    .feedFooterLeft .block .selPerson {
      display: block;
      float: left;
      padding: 10px; }
      .feedFooterLeft .block .selPerson .head, .feedFooterLeft .block .selPerson .foot {
        display: block;
        float: left;
        width: 100%;
        height: 30px;
        line-height: 30px;
        padding: 0 10px; }
      .feedFooterLeft .block .selPerson .cont {
        display: block;
        float: left;
        padding: 10px; }
        .feedFooterLeft .block .selPerson .cont .imgHead {
          display: block;
          float: left;
          width: 45px;
          height: 45px;
          margin: 0 5px;
          -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          overflow: hidden;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%;
          background: #ddd;
          border: 1px solid #ddd;
          transition: margin 0.5s, background 0.5s; }
          .feedFooterLeft .block .selPerson .cont .imgHead .check {
            display: block;
            float: left;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 3;
            line-height: 45px;
            text-align: center;
            font-size: 200%;
            color: #fff;
            padding-top: 45px;
            transition: padding 0.4s , background 0.8s; }
        .feedFooterLeft .block .selPerson .cont .imgHead > img {
          max-width: 100%;
          max-height: 100%;
          min-width: 100%;
          min-height: 100%;
          overflow: hidden; }

.chatSystem {
  display: block;
  float: left;
  position: fixed;
  right: -310px;
  top: 50px;
  bottom: 0px;
  width: 300px; }
  .chatSystem .head {
    display: block;
    float: left;
    width: 100%; }
    .chatSystem .head .rows {
      display: block;
      float: left;
      width: 100%;
      height: "30px"; }
      .chatSystem .head .rows .Btn, .chatSystem .head .rows .title, .chatSystem .head .rows .clBtn {
        display: block;
        float: left;
        width: calc( 100% / 3);
        height: "30px"; }
      .chatSystem .head .rows .title {
        width: 100%; }
      .chatSystem .head .rows .clBtn {
        width: 10%; }

.chatSystemAct {
  right: 0px; }

.popBox {
  display: block;
  float: left;
  position: absolute;
  top: 40px;
  min-height: 50px;
  min-width: 50px; }
  .popBox .topArrow {
    display: block;
    float: left;
    position: absolute;
    top: -6px;
    width: 15px;
    height: 15px; }
  .popBox .cont {
    display: block;
    float: left;
    position: relative;
    min-width: 50px;
    min-height: 50px; }
  .popBox .closeBtn {
    display: block;
    float: left;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 7px;
    height: 8px; }
  .popBox .nestBtn {
    display: block;
    float: left;
    width: calc(100% - 20px);
    margin: 0 10px;
    color: #444;
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding-left: 5px; }
  .popBox .nestBtn:hover {
    cursor: pointer;
    border-bottom: 1px solid #3498db;
    color: #3498db; }

.popBox.show {
  width: 300px;
  min-height: 0px;
  max-height: 0px;
  overflow: hidden;
  opacity: 0px; }

.popBox.-l {
  right: 0px; }
  .popBox.-l .topArrow {
    right: 10px; }

.popBox.-l-20 {
  right: 0px; }
  .popBox.-l-20 .topArrow {
    right: 20px; }

.popBox.-l-30 {
  right: 0px; }
  .popBox.-l-30 .topArrow {
    right: 30px; }

.popBox.-l-40 {
  right: 0px; }
  .popBox.-l-40 .topArrow {
    right: 40px; }

.popBox.-l-50 {
  right: 0px; }
  .popBox.-l-50 .topArrow {
    right: 50px; }

.popBox.-r {
  left: 0px; }
  .popBox.-r .topArrow {
    left: 10px; }

.popBox.-r-10 {
  left: 10px; }
  .popBox.-r-10 .topArrow {
    left: 10px; }

.popBox.-h {
  left: 50px;
  top: -70px; }
  .popBox.-h .topArrow {
    left: -5px;
    top: 75px; }

.popBox.-t-20 {
  top: 20px; }

.popBox.-t-30 {
  top: 30px; }

.popBox.-t-40 {
  top: 40px; }

.popBox.-t-50 {
  top: 50px; }

.popBox.-t-60 {
  top: 60px; }

.popBox.-free {
  max-width: 1000px;
  max-height: 1000px; }

.sBtn {
  display: block;
  float: left;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 15px;
  height: 15px; }

.spinnerCover {
  display: block;
  float: left;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px; }
  .spinnerCover .loaderOuter {
    display: block;
    float: left;
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    width: 40px;
    height: 40px; }
  .spinnerCover .loader {
    display: block;
    float: left;
    position: relative;
    width: 40px;
    height: 40px; }

.sBtn.-r5 {
  right: 5px; }

.sBtn.-r10 {
  right: 10px; }

.sBtn.-r15 {
  right: 15px; }

.sBtn.-r20 {
  right: 20px; }

.sBtn.-t5 {
  top: 5px; }

.sBtn.-t10 {
  top: 10px; }

.sBtn.-t15 {
  top: 15px; }

.sBtn.-t20 {
  top: 20px; }

.act {
  bottom: 0px;
  left: 0px; }

.MultiBars {
  display: block;
  float: left;
  width: 100%;
  height: 100%; }
  .MultiBars .head {
    display: block;
    float: left;
    width: 100%;
    height: 30px; }
  .MultiBars .Mchat {
    display: table;
    float: left;
    width: calc(100% - 20px);
    margin-left: 10px;
    height: calc(100% - 30px ); }
    .MultiBars .Mchat .bar {
      display: table-cell;
      float: left;
      width: calc( 100% / 7 );
      height: 100%;
      position: relative; }
      .MultiBars .Mchat .bar .line {
        display: block;
        float: left;
        width: 100%;
        height: 90%;
        position: relative; }
        .MultiBars .Mchat .bar .line .bar1, .MultiBars .Mchat .bar .line .bar2, .MultiBars .Mchat .bar .line .dummy {
          display: block;
          float: left;
          width: 80%;
          bottom: 0px;
          position: absolute; }

.fluidGrid {
  display: block;
  float: left;
  padding: 10px;
  width: 100%;
  height: 100%; }

.flexPage {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding: 5px; }
  .flexPage .flex-1, .flexPage .flex-2, .flexPage .flex-3, .flexPage .flex-4, .flexPage .flex-5,
  .flexPage .flex-6, .flexPage .flex-7, .flexPage .flex-8, .flexPage .flex-9, .flexPage .flex-10 {
    display: block;
    float: left; }
  .flexPage .flex-1 {
    width: 10%; }
  .flexPage .flex-2 {
    width: 20%; }
  .flexPage .flex-3 {
    width: 30%; }
  .flexPage .flex-4 {
    width: 40%; }
  .flexPage .flex-5 {
    width: 50%; }
  .flexPage .flex-6 {
    width: 60%; }
  .flexPage .flex-7 {
    width: 70%; }
  .flexPage .flex-8 {
    width: 80%; }
  .flexPage .flex-9 {
    width: 90%; }
  .flexPage .flex-10 {
    width: 100%; }
  .flexPage .-m {
    margin: 5px; }
  .flexPage .-p {
    padding: 5px; }
  .flexPage .-a {
    width: 100%;
    height: 100%; }
  .flexPage .-h-50 {
    height: 50px; }
  .flexPage .-h-100 {
    height: 100px; }
  .flexPage .-h-150 {
    height: 150px; }
  .flexPage .-h-200 {
    height: 200px; }
  .flexPage .-h-250 {
    height: 250px; }
  .flexPage .-h-300 {
    height: 300px; }
  .flexPage .-h-350 {
    height: 350px; }
  .flexPage .-h-400 {
    height: 400px; }
  .flexPage .-h-450 {
    height: 450px; }
  .flexPage .-h-500 {
    height: 500px; }
  .flexPage .-h-550 {
    height: 550px; }
  .flexPage .-h-600 {
    height: 600px; }
  .flexPage .-h-650 {
    height: 650px; }
  .flexPage .-h-700 {
    height: 700px; }

.flex-1 {
  width: 10%; }

.flex-2 {
  width: 20%; }

.flex-3 {
  width: 30%; }

.flex-4 {
  width: 40%; }

.flex-5 {
  width: 50%; }

.flex-6 {
  width: 60%; }

.flex-7 {
  width: 70%; }

.flex-8 {
  width: 80%; }

.flex-9 {
  width: 90%; }

.flex-10 {
  width: 100%; }

.fit-10 {
  width: 100%;
  height: 100%; }

.Bframe {
  display: none;
  float: left;
  color: #fff;
  height: 100%;
  -webkit-transition: margin 0.5s;
  -moz-transition: margin 0.5s;
  -ms-transition: margin 0.5s;
  -o-transition: margin 0.5s;
  transition: margin 0.5s; }
  .Bframe .head,
  .Bframe .mid,
  .Bframe .foot {
    display: block;
    float: left;
    width: 100%; }
    .Bframe .head div,
    .Bframe .mid div,
    .Bframe .foot div {
      padding: 3px; }
  .Bframe .bf-1 {
    height: 10%; }
  .Bframe .bf-2 {
    height: 20%; }
  .Bframe .bf-3 {
    height: 30%; }
  .Bframe .bf-4 {
    height: 40%; }
  .Bframe .bf-5 {
    height: 50%; }
  .Bframe .bf-6 {
    height: 60%; }
  .Bframe .bf-7 {
    height: 70%; }
  .Bframe .bf-8 {
    height: 80%; }
  .Bframe .bf-9 {
    height: 90%; }
  .Bframe .bf-10 {
    height: 100%; }
  .Bframe .bf-FS-1 {
    font-size: 90%; }
  .Bframe .bf-FS-2 {
    font-size: 110%; }
  .Bframe .bf-FS-3 {
    font-size: 140%; }
  .Bframe .bf-FS-4 {
    font-size: 200%; }
  .Bframe .bf-FS-5 {
    font-size: 230%; }
  .Bframe .bf-FO-1 {
    color: rgba(255, 255, 255, 0.4); }
  .Bframe .bf-FO-2 {
    color: rgba(255, 255, 255, 0.5); }
  .Bframe .bf-FO-3 {
    color: rgba(255, 255, 255, 0.6); }
  .Bframe .bf-FO-4 {
    color: rgba(255, 255, 255, 0.7); }
  .Bframe .bf-FO-5 {
    color: rgba(255, 255, 255, 0.8); }

.Bframe:nth-child(1) {
  display: block; }

.sec-left {
  display: block;
  left: -140px;
  width: 200px;
  top: 50px;
  bottom: 0px;
  padding-top: 20px; }

.asideButton {
  display: block;
  float: left;
  width: 100%;
  min-height: 40px; }

.asideName {
  display: inline-block;
  float: left;
  line-height: 40px;
  padding-left: 10px;
  width: 140px;
  height: 100%; }

.asideIcon {
  display: inline-block;
  float: left;
  width: 60px;
  height: 100%;
  padding: 8px 15px;
  text-align: center; }
  .asideIcon i.fa {
    font-size: 24px; }

.asideIcon > .img {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin: 5px 15px; }

.asideIcon > .img > img {
  height: 30px;
  width: 30px; }

.NestedAsideLink,
.asideLink {
  display: block;
  float: left;
  width: 100%;
  min-height: 40px; }

.NestedAsideLink .asideName {
  width: 130px;
  margin-left: 10px; }

.sec-mid {
  display: block;
  left: 60px;
  right: 0px;
  top: 50px; }

.BCZIcon {
  display: block;
  float: left;
  height: 50px;
  width: 60px; }

.statusBar {
  display: block;
  float: left;
  position: fixed;
  left: 0px;
  right: 0px;
  height: 26px;
  bottom: 0px;
  width: 100%;
  background: #fcfcfc;
  border-top: 1px solid #ddd;
  padding-left: 10px;
  line-height: 26px;
  font-size: 90%;
  z-index: 105; }

.notificationBar {
  display: block;
  float: left;
  position: fixed;
  width: 600px;
  left: calc(50% - 300px);
  min-height: 30px;
  top: -90px; }

.showNotification {
  top: 0px; }

.right-side {
  float: left;
  position: absolute;
  top: 0px;
  width: 300px;
  right: 0px;
  min-height: 900px; }

.mainLeft {
  position: fixed;
  top: 50px;
  right: 0px;
  bottom: 0px;
  width: calc(40% - 20px);
  overflow: scroll; }

/* Colors */
/* images */
.myTasks {
  display: block;
  float: left;
  padding: 5px 10px; }

.p-dropzone {
  margin: 5px;
  width: 90%; }

.half {
  width: calc(50% - 12px); }

.heading .oneBy3 {
  width: calc(33.3% - 12px); }
.heading .custButton,
.heading .custButtonPop {
  margin-top: 1px; }

.cont {
  display: block;
  float: left;
  padding: 10px 5px;
  font-size: 90%;
  color: #666; }
  .cont .oneBy3 {
    width: calc(33.3% - 12px); }
  .cont .popBox {
    font-size: 110%; }
  .cont .table {
    display: block;
    float: left;
    width: 100%;
    margin-top: 5px; }
    .cont .table input[type='text'] {
      height: 20px;
      min-height: 20px;
      line-height: 20px; }
    .cont .table .popBox input[type='text'] {
      height: 30px;
      min-height: 30px;
      line-height: 30px; }
    .cont .table .head {
      display: block;
      float: left;
      padding: 0px 10px;
      height: 30px;
      line-height: 30px;
      border-bottom: 1px solid rgba(52, 152, 152, 0.3); }
      .cont .table .head input {
        margin-left: 20px;
        line-height: 20px; }
    .cont .table .tr {
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px; }
    .cont .table .td {
      display: block;
      float: left;
      padding: 3px 10px; }
    .cont .table .taskList {
      display: block;
      float: left; }
    .cont .table .taskList .td {
      font-size: 120%;
      font-weight: bold;
      color: #555;
      padding: 4px 10px;
      width: 100%; }
    .cont .table .sector,
    .cont .table .sectorList {
      display: block;
      float: left;
      width: 100%;
      padding: 8px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      -webkit-transition: 0.1s;
      -moz-transition: 0.1s;
      -o-transition: 0.1s;
      transition: 0.1s; }
    .cont .table .sector {
      padding: 1px 8px; }
    .cont .table .sector:hover {
      cursor: pointer;
      color: #000;
      background: rgba(52, 152, 219, 0.2); }
    .cont .table .sectorList:hover {
      cursor: pointer;
      background: #fff;
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      color: rgba(0, 0, 0, 0.8); }
      .cont .table .sectorList:hover .tr:hover {
        background: rgba(52, 152, 219, 0.2); }
      .cont .table .sectorList:hover .taskList .td {
        color: rgba(0, 0, 0, 0.9); }
      .cont .table .sectorList:hover .taskList .td:hover {
        color: black; }
      .cont .table .sectorList:hover option {
        color: #333; }

option {
  color: #333; }

option:hover {
  background: #ddd; }

/* new views - ice blocks */
.backlogOuter {
  display: block;
  float: left;
  position: fixed;
  left: 60px;
  top: 100px;
  bottom: 26px;
  right: 0px;
  overflow: scroll;
  padding: 5px 0;
  border-top: 1px solid #ddd; }
  .backlogOuter .psudoShadow {
    display: block;
    float: left;
    position: fixed;
    left: 60px;
    top: 100px;
    right: 0px;
    width: 100%;
    height: 5px;
    z-index: 300;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.28+0,0+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.28) 0%, transparent 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.28)), color-stop(100%, transparent));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.28) 0%, transparent 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.28) 0%, transparent 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.28) 0%, transparent 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.28) 0%, transparent 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47000000', endColorstr='#00000000',GradientType=0 );
    /* IE6-9 */ }

/*SCROLL BAR*/
.backlogOuter::-webkit-scrollbar {
  background: transparent;
  border-radius: 3px;
  height: 10px; }

.backlogOuter::-webkit-scrollbar-track {
  background: transparent; }

.storyBlock {
  display: inline-block;
  float: left;
  position: relative;
  width: 180px;
  height: 200px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background: #fff;
  margin: 5px 10px 5px 0;
  border-bottom: 0px solid #aaa;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s; }
  .storyBlock .RoundDropDown {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .storyBlock .title, .storyBlock .date, .storyBlock .description, .storyBlock .time, .storyBlock .releaseTag {
    display: block;
    float: left;
    width: 100%;
    padding: 5px; }
  .storyBlock .title {
    height: 30px;
    line-height: 30px;
    font-size: 130%;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 2px; }
    .storyBlock .title input {
      height: 25px;
      line-height: 30px;
      padding: 5px;
      padding: 0 10px;
      border: none;
      width: calc(100% - 30px); }
  .storyBlock .description {
    height: 96px;
    color: #777;
    padding: 10px;
    border: none;
    resize: none;
    margin: 2px;
    width: calc(100% - 4px);
    font-size: 90%; }
  .storyBlock .date {
    position: absolute;
    bottom: 15px;
    left: 0px;
    width: 65%;
    color: #666;
    font-size: 94%; }
    .storyBlock .date table {
      width: 100%; }
    .storyBlock .date td {
      padding: 0 3px; }
    .storyBlock .date .c1 {
      width: 40px;
      color: #aaa;
      vertical-align: bottom; }
    .storyBlock .date .c2 input {
      width: 60px;
      height: 15px;
      max-height: 15px;
      min-height: 15px;
      font-size: 90%;
      font-family: Gothic;
      line-height: 15px;
      border: none; }
    .storyBlock .date .c2:hover input {
      background: #eee;
      cursor: pointer; }
  .storyBlock .time {
    position: absolute;
    bottom: 0px;
    right: 10px;
    color: #bbb;
    width: 35%;
    font-size: 530%; }
    .storyBlock .time span {
      font-size: 24px;
      color: #ddd; }
    .storyBlock .time .popBox {
      font-size: 20px;
      width: 180px; }
      .storyBlock .time .popBox .cont {
        width: 180px; }
        .storyBlock .time .popBox .cont .numberDay, .storyBlock .time .popBox .cont .numberHour {
          display: block;
          float: left;
          width: 23%;
          margin: 1%;
          height: 40px;
          background: #3498db;
          color: #fff;
          text-align: center;
          line-height: 40px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          -ms-border-radius: 5px;
          border-radius: 5px; }
          .storyBlock .time .popBox .cont .numberDay span, .storyBlock .time .popBox .cont .numberHour span {
            font-size: 13px;
            color: #fff; }
        .storyBlock .time .popBox .cont .numberHour {
          background: #27ae60; }
        .storyBlock .time .popBox .cont .numberDay:hover {
          background: #49aef1; }
        .storyBlock .time .popBox .cont .numberHour:hover {
          background: #38e180; }
  .storyBlock .priority {
    display: block;
    float: left;
    width: 100%;
    position: absolute;
    height: 5px;
    bottom: 0px;
    background: #ddd;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    -ms-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px; }
  .storyBlock .priority.p1 {
    background: #40d47e; }
  .storyBlock .priority.p2 {
    background: #f1c40f; }
  .storyBlock .priority.p3 {
    background: #e67e22; }
  .storyBlock .releaseTag {
    width: 50px;
    height: 50px;
    position: absolute;
    overflow: hidden;
    top: 0px;
    right: 0px;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    line-height: 220px; }
    .storyBlock .releaseTag div {
      display: block;
      float: left;
      position: absolute;
      top: -35px;
      right: -35px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 50px;
      height: 50px; }
    .storyBlock .releaseTag span {
      display: block;
      float: left;
      width: 100%;
      font-size: 300%;
      color: #aaa;
      text-align: center;
      line-height: 180px;
      margin-top: -180px; }
    .storyBlock .releaseTag i {
      color: #7d7d7d; }
  .storyBlock .releaseTag.markMode {
    height: 100%;
    width: 100%;
    z-index: 102;
    background: rgba(255, 255, 255, 0.5); }
  .storyBlock .releaseTag.markMode:hover {
    cursor: pointer; }
  .storyBlock .actv div {
    background: #27ae60; }

.quickView {
  height: 60px; }

.mainBacklog {
  padding-left: 10px; }

.storyBlock:hover {
  cursor: pointer; }
  .storyBlock:hover .RoundDropDown {
    opacity: 1; }

.storyBlock.inactive .RoundDropDown {
  opacity: 0; }

.storyBlock.inactive:hover .RoundDropDown {
  opacity: 1; }

.sprintBlockOuter {
  display: table;
  float: left;
  table-layout: fixed;
  /* optional, for equal spacing */
  border-collapse: collapse;
  padding-top: 0px;
  margin-top: 0px; }

.sprintScroll {
  padding-top: 0px;
  margin-top: 0px; }

.sprintBlock {
  display: table-cell;
  vertical-align: top;
  width: 200px;
  margin: 5px 10px 5px 0;
  padding-left: 10px;
  /*border-right:1px dashed #ccc;*/ }
  .sprintBlock .sprintTitle {
    display: block;
    float: left;
    width: 180px;
    margin: 10px 10px 5px 0;
    background: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px; }
  .sprintBlock .storyBlock {
    display: inline;
    float: left; }

.sprintBlock:nth-child(odd) {
  background: rgba(0, 0, 0, 0.05); }

.storyList {
  display: table;
  float: left;
  width: 190px; }
  .storyList .storyBlock {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .storyList .storyBlock:nth-child(1) {
    margin-top: 5px;
    z-index: 100; }
    .storyList .storyBlock:nth-child(1) .priority {
      opacity: 1; }
  .storyList .storyBlock:nth-child(2) {
    z-index: 99; }
  .storyList .storyBlock:nth-child(3) {
    z-index: 98; }
  .storyList .storyBlock:nth-child(4) {
    z-index: 97; }
  .storyList .storyBlock:nth-child(5) {
    z-index: 96; }
  .storyList .storyBlock:nth-child(6) {
    z-index: 95; }
  .storyList .storyBlock:nth-child(7) {
    z-index: 94; }
  .storyList .storyBlock:nth-child(8) {
    z-index: 93; }
  .storyList .storyBlock:nth-child(9) {
    z-index: 92; }
  .storyList .storyBlock:nth-child(10) {
    z-index: 91; }
  .storyList .storyBlock:nth-child(11) {
    z-index: 90; }
  .storyList .storyBlock:nth-child(12) {
    z-index: 89; }

.storyList.wrap .storyBlock {
  margin-top: -200px; }
  .storyList.wrap .storyBlock .priority {
    opacity: 0; }
.storyList.wrap .storyBlock:nth-child(1) {
  margin-top: 5px;
  z-index: 100; }
  .storyList.wrap .storyBlock:nth-child(1) .priority {
    opacity: 1; }
.storyList.wrap .storyBlock:nth-child(2) {
  z-index: 99; }
.storyList.wrap .storyBlock:nth-child(3) {
  z-index: 98; }
.storyList.wrap .storyBlock:nth-child(4) {
  z-index: 97; }
.storyList.wrap .storyBlock:nth-child(5) {
  z-index: 96; }
.storyList.wrap .storyBlock:nth-child(6) {
  z-index: 95; }
.storyList.wrap .storyBlock:nth-child(7) {
  z-index: 94; }
.storyList.wrap .storyBlock:nth-child(8) {
  z-index: 93; }
.storyList.wrap .storyBlock:nth-child(9) {
  z-index: 92; }
.storyList.wrap .storyBlock:nth-child(10) {
  z-index: 91; }
.storyList.wrap .storyBlock:nth-child(11) {
  z-index: 90; }
.storyList.wrap .storyBlock:nth-child(12) {
  z-index: 89; }

.-p-0 {
  padding: 0px; }

.solidHeader {
  background: #fff;
  height: 50px;
  position: relative;
  z-index: 200; }
  .solidHeader .fluidGrid {
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0; }

.story-anim.ng-enter {
  -webkit-transition: .5s linear all;
  -moz-transition: .5s linear all;
  -ms-transition: .5s linear all;
  -o-transition: .5s linear all;
  transition: .5s linear all;
  /* 200ms will be applied between each sucessive enter operation */
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  /* this is here to avoid accidental CSS inheritance */
  -webkit-transition-duration: 0;
  transition-duration: 0; }

.story-anim.ng-enter {
  opacity: 0;
  line-height: 0; }

.story-anim.ng-enter.ng-enter-active {
  opacity: 1;
  line-height: 20px; }

.story-anim.ng-enter-stagger {
  /* 200ms will be applied between each sucessive enter operation */
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  /* this is here to avoid accidental CSS inheritance */
  -webkit-transition-duration: 0;
  transition-duration: 0; }

/* Colors */
/* images */
.projects .head, .projects .mid {
  display: block;
  float: left;
  width: 100%;
  padding: 20px 30px; }
.projects .mid table {
  width: 100%; }
.projects .mid th {
  padding: 10px; }
.projects .mid td {
  padding: 10px; }

.createProjectPopup {
  display: block;
  float: left;
  width: 450px;
  max-height: 450px;
  overflow-y: scroll;
  margin-bottom: 5px; }
  .createProjectPopup input[type=text], .createProjectPopup input[type=password], .createProjectPopup select, .createProjectPopup textarea {
    margin: 5px;
    width: 90%;
    max-width: 90%; }
  .createProjectPopup h5, .createProjectPopup h6 {
    margin-left: 5px;
    margin-right: 5px;
    width: 90%; }
  .createProjectPopup td {
    padding: 6px 0 3px 5px; }

/*# sourceMappingURL=layouts.css.map */
