/* Colors */
/* images */
.postform {
  background: #fff;
  color: #333333; }

.postform > .heading > span {
  line-height: 30px;
  font-size: 90%;
  font-weight: lighter;
  text-align: center;
  color: #333;
  border-bottom: 2px transparent solid; }

.postform .cont, .postform .cont form > .head, .postform .cont form > .mid, .postform .cont form > .foot {
  /*background:rgba($blueR,$blueG,$blueB,0.02);shikku*/ }

.postform > .cont {
  /*background:rgba($blueR,$blueG,$blueB,0.02);shikku*/
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  /*shikku*/ }

.postform .cont form > .head textarea {
  border: none;
  outline: none;
  resize: vertical;
  background: rgba(52, 152, 219, 0.02); }

.postform .cont form > .head input {
  resize: none; }

.postform .cont form > .head input,
.postform .cont form > .head input[type="checkbox"] {
  border: #ddd 1px solid;
  outline: none; }

.p-dropzone {
  border: 1px dashed #aaa;
  color: #888;
  line-height: 30px; }

.postform .cont form > .foot {
  width: 100%;
  /*background:rgba($blueR,$blueG,$blueB,0.2);
  background: $lightSlateGray;shikku*/
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  /*shikku*/
  height: 30px; }

.postform .cont form > .foot > .Sel {
  /*shikku*/
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-left: 1px solid rgba(0, 0, 0, 0.15); }

.postform .cont form > .foot > button {
  font-size: 80%;
  border: none;
  background: #3ba75b;
  color: #eee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.postform .cont form > .foot > div {
  font-size: 80%;
  line-height: 25px;
  /*background: rgba($blueR,$blueG,$blueB,0.3);shikku*/
  color: #555;
  /*shikku*/ }

.postform .cont form > .foot > div .text-slot {
  text-align: center;
  line-height: 30px;
  color: #444; }

.postform .cont form > .foot > div > .foot > span {
  background: #fff; }

.postform .cont form > .head .half {
  line-height: 30px; }

.postform .cont form > .head .half > div > select {
  border: #ddd 1px solid;
  background: #fff; }

.feed-slot {
  border-top: #eee solid 1px; }

.feed-slot > .feedSet {
  border-bottom: #ddd 1px solid; }

.feed-slot > .feedSet .contHead > div {
  border-bottom: 1px solid #f4f4f4;
  color: #444; }

.feed-slot > .feedSet .cont > .left > .img {
  background: #aaa; }

.feed-slot > .feedSet .cont > .right {
  font-size: 90%;
  color: #333; }

.feed-slot > .feedSet .cont > .right > .head {
  line-height: 30px;
  color: #666; }

.feed-slot > .feedSet .cont > .right > .head,
.feed-slot > .feedSet .cont > .right > .mid,
.feed-slot > .feedSet .cont > .right > .foot {
  transition: 1s; }

.feed-slot > .feedSet .cont > .right > .mid {
  background: #fff; }

.feed-slot > .feedSet .cont > .right > .foot > .head .cnmtBtn,
.feed-slot > .feedSet .cont > .right > .foot > .head .date {
  line-height: 30px; }

.feed-slot > .feedSet .cont > .right > .foot > .head .cnmtBtn {
  color: #1B98C2; }

.feed-slot > .feedSet .cont > .right > .foot > .head .date {
  color: #aaa; }

.b-btn-sm {
  font-size: 80%;
  border: none;
  background: #3ba75b;
  color: #eee;
  border-radius: 4px; }

.commentSet > .contSec > div {
  line-height: 30px;
  color: #333; }

.commentSet > .imgSec > .img {
  background: #ddd; }

.commentSet > div > .foot > div > .date {
  line-height: 30px;
  color: #aaa; }

.commentSet > div > .head,
.commentSet > div > .mid {
  line-height: 20px;
  color: #aaa; }

.commentForm {
  transition: .8s; }

.b-link {
  color: #1B98C2; }

.form-error-msg {
  padding: 4px;
  background: #FF4500;
  border-radius: 1px;
  margin: 5px 0 0 5px;
  font-size: 11px; }

/* Colors */
/* images */
.chatSystem {
  background: #fff;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: right 0.3s; }
  .chatSystem .head {
    color: #aaa; }
    .chatSystem .head .rows {
      background: #000; }
      .chatSystem .head .rows .Btn, .chatSystem .head .rows .title, .chatSystem .head .rows .clBtn {
        line-height: 30px;
        text-align: center; }
      .chatSystem .head .rows .title {
        font-size: 110%;
        color: #3498db; }

.popBox {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: .5s; }
  .popBox .topArrow {
    transform: rotate(45deg);
    background: #fff;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    z-index: 30; }
  .popBox .cont {
    padding: 10px;
    background: #fff;
    z-index: 33; }
  .popBox .closeBtn {
    border-radius: 50%;
    background: #ccc;
    font-size: 80%;
    z-index: 3;
    color: #ccc; }

.popBox.show {
  transition: .5s; }

/* Colors */
/* images */
.sBtn {
  border: 4px solid rgba(0, 0, 0, 0.3);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  z-index: 10; }

.spinnerCover {
  z-index: 9;
  background: rgba(255, 255, 255, 0.7); }

.MultiBars .head {
  line-height: 30px;
  padding-left: 10px;
  color: #fff; }
.MultiBars .Mchat .bar .line .bar1 {
  background: #fff; }
.MultiBars .Mchat .bar .line .bar2 {
  background: rgba(255, 255, 255, 0.4); }

/* Colors */
/* images */
.fluidGrid {
  border-radius: 2px;
  -webkit-box-shadow: 0 0 4px #ddd;
  -moz-box-shadow: 0 0 4px #ddd;
  box-shadow: 0 0 4px #ddd;
  background: #fff; }

.asphalt {
  background: #34495e; }

.yellow {
  background: #f1c40f; }

.greenBlue {
  background: #1abc9c; }

.green {
  background: #27ae60; }

.red {
  background: #c0392b; }

.blue {
  background: #3498db; }

.orange {
  background: #e67e22; }

.grey {
  background: #95a5a6; }

/* Colors */
/* images */
.sec-left {
  background: #313131;
  transition: left 0.3s;
  color: #ccc;
  font-size: 95%;
  -webkit-box-shadow: 0 0 4px #aaa;
  -moz-box-shadow: 0 0 4px #aaa;
  box-shadow: 0 0 4px #aaa; }

.asideIcon > .img {
  background: rgba(0, 0, 0, 0.2); }

.asideIcon > .img > img {
  opacity: 0.4; }

.NestedAsideLink .asideName {
  border-left: 2px solid rgba(255, 255, 255, 0.05); }

.listHead > div {
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s; }

.listHead .hiddenList {
  overflow: hidden;
  height: 0px; }

.BCZIcon {
  text-align: center;
  line-height: 50px;
  color: #e74c3c;
  font-family: Masterblast;
  font-size: 130%;
  font-weight: 500; }

/* Colors */
/* images */
.projects {
  color: #555; }
  .projects .mid th {
    color: #3faac9;
    font-weight: 300;
    background: #e8eef3; }
  .projects .mid td {
    padding: 10px; }
  .projects .mid tr:nth-child(1) {
    border-bottom: 1px solid #ddd; }

/*# sourceMappingURL=modules.css.map */
