/* Layouts */
.feedSetMain {
  display: block;
  float: left;
  position: relative;
  width: 100%; }

.page-feeds {
  display: block;
  float: left; }

.p-feeds {
  float: left;
  position: absolute;
  min-width: 600px;
  left: 0px;
  top: 0px;
  right: 300px;
  min-height: 900px;
  padding: 30px 0 0 30px; }

.postform {
  display: block;
  float: left;
  width: 550px;
  min-height: 100px; }

.postform > .heading {
  width: 100%;
  height: 30px; }

.postform > .heading > span {
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  min-width: 60px;
  padding: 0 8px; }

.postform .cont, .postform .cont form > .head, .postform .cont form > .mid, .postform .cont form > .foot {
  display: block;
  float: left;
  width: 100%; }

.postform > .cont {
  float: left;
  width: 100%; }

.postform > .active {
  display: block; }

.postform .cont form > .head textarea {
  min-width: 100%;
  max-width: 100%;
  margin-top: 20px;
  padding: 0 10px 0 20px; }

.postform .cont form > .head input {
  width: 80%;
  max-width: 600px;
  min-width: 300px;
  margin: 20px 10px 10px 20px;
  padding: 0 10px 0 10px;
  height: 40px; }

.postform .cont form > .head input[type="checkbox"] {
  width: 12px;
  min-width: 12px;
  margin: 5px 10px 5px 30px;
  padding: 0;
  height: 12px; }

.p-dropzone {
  display: block;
  float: left;
  width: 80%;
  max-width: 600px;
  min-width: 300px;
  height: 30px;
  margin: 10px 10px 10px 20px;
  padding-left: 10px; }

.postform .cont form > .foot {
  width: 100%;
  height: 30px; }

.postform .cont form > .foot > button {
  float: right;
  padding: 0 6px;
  font-size: 80%;
  height: 20px;
  margin: 5px 15px 5px 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.postform .cont form > .foot > div {
  float: right;
  line-height: 25px;
  width: 140px;
  margin-right: 10px; }

.postform .cont form > .foot > div .text-slot {
  float: right;
  height: 30px;
  margin: 0 5px;
  width: 140px; }

.postform .cont form > .foot > div > .foot {
  display: none;
  float: left;
  width: 150px;
  margin-left: -5px; }

.postform .cont form > .foot > div > .foot > span {
  display: block;
  float: left;
  width: 100%;
  padding: 5px 10px; }

.postform .cont form > .head .half {
  display: block;
  float: left;
  width: 80%;
  max-width: 600px;
  min-width: 300px;
  margin: 10px 10px 10px 20px;
  padding-left: 10px; }

.postform .cont form > .head .half > div {
  display: block;
  float: left;
  width: 50%; }

.postform .cont form > .head .half > div > div {
  display: block;
  float: left;
  width: calc(100% - 10px);
  margin-right: 10px;
  padding-left: 10px; }

.postform .cont form > .head .half > div > select {
  display: block;
  float: left;
  width: calc(100% - 10px);
  margin-right: 10px;
  height: 30px;
  padding-left: 10px; }

.feed-slot {
  display: block;
  float: left;
  min-height: 10px;
  width: 80%;
  max-width: 900px;
  min-width: 550px;
  margin-top: 50px; }

.feed-slot > .feedSet {
  display: block;
  float: left;
  width: 100%;
  min-height: 10px; }

.feed-slot > .feedSet .contHead > div {
  padding: 10px 10px 4px 10px; }

.feed-slot > .feedSet .cont > .left > .img {
  width: 60px;
  height: 60px;
  margin: 10px; }

.feed-slot > .feedSet .cont > .right > .head,
.feed-slot > .feedSet .cont > .right > .mid,
.feed-slot > .feedSet .cont > .right > .foot {
  min-height: 0px;
  width: 100%;
  padding-left: 10px; }

.feed-slot > .feedSet .cont > .right > .mid {
  min-height: 0px;
  width: 100%;
  padding: 2px 10px; }

.feed-slot > .feedSet .cont > .right > .foot > .head .cnmtBtn,
.feed-slot > .feedSet .cont > .right > .foot > .head .date {
  height: 30px;
  padding: 0 10px; }

.feed-slot > .feedSet .cont > .right > .foot > .head .date {
  color: #aaa; }

.feed-slot > .feedSet .cont > .right > .foot > .foot > textarea {
  display: block;
  float: left;
  margin: 2px 10px;
  width: 100%;
  max-width: 400px; }

.feed-slot > .feedSet .cont > .right > .foot > .foot > div {
  display: block;
  float: left;
  width: 100%; }

.feed-slot > .feedSet .cont > .right > .foot > .foot .b-btn-sm {
  margin-left: 10px; }

.b-btn-sm {
  display: block;
  float: left;
  padding: 0 6px;
  height: 20px;
  margin: 5px 15px 5px 5px; }

.commentSet > .contSec > div {
  display: block;
  float: left;
  min-height: 20px;
  line-height: 30px;
  padding: 0 10px;
  width: 100%; }

.commentSet > .imgSec > .img {
  display: block;
  float: left;
  height: 50px;
  width: 50px;
  margin: 5px; }

.commentSet > div > .foot > div > .date {
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  padding: 0 10px; }

.commentSet > div > .head,
.commentSet > div > .mid {
  display: block;
  float: left;
  line-height: 20px;
  padding: 0 10px;
  margin: 0px;
  min-height: 20px; }

.b-link {
  display: block;
  float: left;
  height: 30px;
  padding: 0 10px; }

.postform {
  background: #fff;
  color: #333333; }

.postform > .heading > span {
  line-height: 30px;
  font-size: 90%;
  font-weight: lighter;
  text-align: center;
  color: #333;
  border-bottom: 2px transparent solid; }

.postform .cont, .postform .cont form > .head, .postform .cont form > .mid, .postform .cont form > .foot {
  background: #f5f5f5; }

.postform > .cont {
  background: #f5f5f5; }

.postform .cont form > .head textarea {
  border: none;
  outline: none;
  resize: vertical;
  background: #f5f5f5; }

.postform .cont form > .head input {
  resize: none; }

.postform .cont form > .head input,
.postform .cont form > .head input[type="checkbox"] {
  border: #ddd 1px solid;
  outline: none; }

.p-dropzone {
  border: 1px dashed #aaa;
  color: #888;
  line-height: 30px; }

.postform .cont form > .foot {
  width: 100%;
  background: #ddd;
  height: 30px; }

.postform .cont form > .foot > button {
  font-size: 80%;
  border: none;
  background: #3ba75b;
  color: #eee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.postform .cont form > .foot > button:hover {
  background: #5fcf80;
  color: #fff; }

.postform .cont form > .foot > div {
  font-size: 80%;
  line-height: 25px;
  background: #d0d0d0;
  color: #444; }

.postform .cont form > .foot > div .text-slot {
  text-align: center;
  line-height: 30px;
  color: #444; }

.postform .cont form > .foot > div > .foot {
  border: 1px solid #aaa; }

.postform .cont form > .foot > div:hover > .foot {
  cursor: pointer; }

.postform .cont form > .foot > div > .foot > span {
  background: #eeeeee; }

.postform .cont form > .head .half {
  line-height: 30px; }

.postform .cont form > .head .half > div > select {
  border: #ddd 1px solid;
  background: #fff; }

.feed-slot {
  border-top: #eee solid 1px; }

.feed-slot > .feedSet {
  border-bottom: #ddd 1px solid; }

.feed-slot > .feedSet .contHead > div {
  border-bottom: 1px solid #f4f4f4;
  color: #444; }

.feed-slot > .feedSet .cont > .left > .img {
  background: #aaa; }

.feed-slot > .feedSet .cont > .right {
  font-size: 90%;
  color: #333; }

.feed-slot > .feedSet .cont > .right > .head {
  line-height: 30px;
  color: #666; }

.feed-slot > .feedSet .cont > .right > .head,
.feed-slot > .feedSet .cont > .right > .mid,
.feed-slot > .feedSet .cont > .right > .foot {
  transition: 1s; }

.feed-slot > .feedSet .cont > .right > .mid {
  background: #fff; }

.feed-slot > .feedSet .cont > .right > .foot > .head .cnmtBtn,
.feed-slot > .feedSet .cont > .right > .foot > .head .date {
  line-height: 30px; }

.feed-slot > .feedSet .cont > .right > .foot > .head .cnmtBtn {
  color: #1B98C2; }

.feed-slot > .feedSet .cont > .right > .foot > .head .date {
  color: #aaa; }

.b-btn-sm {
  font-size: 80%;
  border: none;
  background: #3ba75b;
  color: #eee;
  border-radius: 4px; }

.commentSet > .contSec > div {
  line-height: 30px;
  color: #333; }

.commentSet > .imgSec > .img {
  background: #ddd; }

.commentSet > div > .foot > div > .date {
  line-height: 30px;
  color: #aaa; }

.commentSet > div > .head,
.commentSet > div > .mid {
  line-height: 20px;
  color: #aaa; }

.commentForm {
  transition: .8s; }

.b-link {
  color: #1B98C2; }

.postform > .heading > span:hover {
  cursor: pointer;
  border-bottom: 2px rgba(183, 0, 122, 0.3) solid;
  color: #111; }

.postform > .heading > .active {
  border-bottom: 2px rgba(183, 0, 122, 0.6) solid;
  color: #111; }

.postform > .heading > .active:hover {
  cursor: default;
  border-bottom: 2px rgba(183, 0, 122, 0.6) solid; }

.postform .cont form > .foot > button:hover {
  background: #5fcf80;
  color: #fff; }

.postform .cont form > .foot > div:hover > .foot {
  display: block;
  cursor: pointer; }

.postform .cont form > .foot > div > .foot > .active {
  background: red; }

.postform .cont form > .foot > div > .foot > span:hover {
  background: #c8c8c8; }

.feed-slot > .feedSet .cont > .right > .foot > .head .cnmtBtn:hover,
.feed-slot > .feedSet .cont > .right > .foot > .head .date:hover {
  cursor: pointer;
  color: #0EAFE6;
  text-decoration: underline; }

.b-btn-sm:hover {
  background: #5fcf80;
  color: #fff; }

.b-link:hover {
  cursor: pointer;
  color: #0EAFE6;
  text-decoration: underline; }

/*# sourceMappingURL=widgets.css.map */
