/* Layouts */
/* Colors */
/* images */
.feedSetMain {
  display: block;
  float: left;
  position: relative;
  width: 100%; }

.page-feeds {
  display: block;
  float: left; }

.p-feeds {
  float: left;
  min-width: 300px;
  left: 0px;
  top: 0px;
  right: 300px;
  height: 670px;
  max-height: 670px;
  padding: 0;
  overflow-y: scroll;
  -ms-overflow-y: scroll; }

.postform {
  display: block;
  float: left;
  width: 100%;
  min-height: 10px; }

.heading {
  display: block;
  float: left;
  width: 100%;
  height: 30px;
  position: relative; }

.heading > span {
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  min-width: 60px;
  padding: 0 8px; }

.postform .cont, .postform .cont form > .head, .postform .cont form > .mid, .postform .cont form > .foot {
  display: block;
  float: left;
  width: 100%; }

.postform > .cont {
  float: left;
  width: 100%; }

.postform > .active {
  display: block; }

.postform .cont form > .head textarea {
  min-width: 100%;
  max-width: 100%;
  margin-top: 20px;
  padding: 0 10px 0 20px; }

.postform .cont form > .head input {
  width: 80%;
  max-width: 100%;
  min-width: 300px;
  margin: 20px 10px 10px 20px;
  padding: 0 10px 0 10px;
  height: 40px; }

.postform .cont form > .head input[type="checkbox"] {
  width: 12px;
  min-width: 12px;
  margin: 5px 10px 5px 30px;
  padding: 0;
  height: 12px; }

.p-dropzone {
  display: block;
  float: left;
  width: 80%;
  max-width: 100%;
  min-width: 300px;
  min-height: 30px;
  margin: 10px 10px 10px 20px;
  padding-left: 10px;
  border: dashed 1px #ddd;
  min-height: 30px;
  padding: 0px; }

.dropzone .dz-message {
  margin: 0px; }

.postform .cont form > .foot {
  width: 100%;
  height: 30px; }

.postform .cont form > .foot > button {
  float: right;
  padding: 0 6px;
  font-size: 80%;
  height: 20px;
  margin: 5px 15px 5px 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.postform .cont form > .foot > .Sel,
.postform .cont form > .foot > input {
  float: right;
  line-height: 25px;
  width: 140px;
  margin-right: 10px; }

.postform .cont form > .foot > div .text-slot {
  float: right;
  height: 30px;
  margin: 0 5px;
  width: 140px; }

.postform .cont form > .foot > div > .foot {
  display: none;
  float: left;
  width: 140px; }

.postform .cont form > .foot > div > .foot > span {
  display: block;
  float: left;
  width: 100%;
  padding: 5px 10px; }

.postform .cont form > .head .half {
  display: block;
  float: left;
  width: 80%;
  max-width: 100%;
  min-width: 300px;
  margin: 10px 10px 10px 20px;
  padding-left: 10px; }

.postform .cont form > .head .half > div {
  display: block;
  float: left;
  width: 50%; }

.postform .cont form > .head .half > div > div {
  display: block;
  float: left;
  width: calc(100% - 10px);
  margin-right: 10px;
  padding-left: 10px; }

.postform .cont form > .head .half > div > select {
  display: block;
  float: left;
  width: calc(100% - 10px);
  margin-right: 10px;
  height: 30px;
  padding-left: 10px; }

.feed-slot {
  display: block;
  float: left;
  min-height: 10px;
  width: 100%;
  margin-top: 10px; }

.feed-slot > .feedSet {
  display: block;
  float: left;
  width: 100%;
  min-height: 10px; }

.feed-slot > .feedSet .contHead > div {
  padding: 10px 10px 4px 10px; }

.feed-slot > .feedSet .cont > .left > .img {
  width: 60px;
  height: 60px;
  margin: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden; }

.feed-slot > .feedSet .cont > .left > .img > img {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden; }

.feed-slot > .feedSet .cont > .right > .head,
.feed-slot > .feedSet .cont > .right > .mid,
.feed-slot > .feedSet .cont > .right > .foot {
  min-height: 0px;
  width: 100%;
  padding-left: 10px; }

.feed-slot > .feedSet .cont > .right > .mid {
  min-height: 0px;
  width: 100%;
  padding: 2px 10px; }

.feed-slot > .feedSet .cont > .right > .foot > .head .cnmtBtn,
.feed-slot > .feedSet .cont > .right > .foot > .head .date {
  height: 30px;
  padding: 0 10px; }

.feed-slot > .feedSet .cont > .right > .foot > .head .date {
  color: #aaa; }

.feed-slot > .feedSet .cont > .right > .foot > .foot > textarea {
  display: block;
  float: left;
  margin: 2px 10px;
  width: 100%;
  max-width: 400px; }

.feed-slot > .feedSet .cont > .right > .foot > .foot > div {
  display: block;
  float: left;
  width: 100%; }

.feed-slot > .feedSet .cont > .right > .foot > .foot .b-btn-sm {
  margin-left: 10px; }

.b-btn-sm {
  display: block;
  float: left;
  padding: 0 6px;
  height: 20px;
  margin: 5px 15px 5px 5px; }

.comment-slot {
  float: left;
  display: table;
  margin-bottom: 7px;
  width: 400px; }

.commentSet {
  display: table-row;
  float: left;
  width: 100%;
  padding: 5px 0; }

.commentSet > .contSec > div {
  display: block;
  float: left;
  min-height: 20px;
  line-height: 30px;
  padding: 0 10px;
  width: 100%; }

.commentSet > .imgSec > .img {
  display: block;
  float: left;
  height: 50px;
  width: 50px;
  margin: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden; }

.commentSet > .imgSec > .img > img {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden; }

.commentSet > div > .foot {
  height: 20px; }

.commentSet > div > .foot > div > .date {
  display: block;
  float: left;
  height: 20px; }

.commentSet > div > .head,
.commentSet > div > .mid {
  display: block;
  float: left;
  line-height: 20px;
  padding: 0 10px;
  margin: 0px;
  min-height: 20px; }

.b-link {
  display: block;
  float: left;
  height: 20px;
  padding: 0 10px; }

.comment-slot > .foot {
  display: block;
  float: left;
  width: calc(100% - 75px);
  margin-left: 75px;
  padding: 5px; }

.comment-slot > .foot textarea {
  min-width: calc(100% - 85px);
  max-width: calc(100% - 85px); }

.comment-slot > .foot button {
  width: 50px;
  margin: 0px 4px; }

.comment-slot > .foot .clip {
  width: 20px;
  margin: 0 0 0 4px;
  background: #333; }

.feedFile {
  display: block;
  float: left;
  width: 100%;
  margin: 5px 0; }
  .feedFile .feedFileImg {
    display: block;
    float: left;
    width: 150px;
    max-width: 150px; }
    .feedFile .feedFileImg .head {
      display: block;
      width: 150px;
      min-height: 10px;
      max-width: 150px;
      border: 1px solid #eee;
      margin: 0px;
      padding: 0px; }
      .feedFile .feedFileImg .head img {
        max-width: 100%;
        max-height: 100%; }
    .feedFile .feedFileImg .foot {
      display: block;
      float: left;
      width: 100%;
      min-height: 20px;
      background: #ddd;
      color: #333;
      margin: 0px;
      padding: 7px;
      text-align: center; }
  .feedFile .feedFileUnknown {
    display: block;
    float: left;
    min-width: 100%;
    margin: 5px 0; }
    .feedFile .feedFileUnknown .foot {
      display: block;
      float: left;
      min-width: 150px;
      min-height: 20px;
      background: #ddd;
      color: #333;
      margin: 0px;
      padding: 7px;
      text-align: center; }

.feedFooterLeft {
  display: block;
  float: left;
  height: 100%; }
  .feedFooterLeft .block {
    display: block;
    float: left;
    height: 100%;
    width: 40px; }
    .feedFooterLeft .block .Btn {
      display: block;
      float: left;
      height: 100%;
      width: 40px;
      background: rgba(255, 255, 255, 0.1);
      text-align: center;
      line-height: 30px;
      border-right: 1px solid rgba(0, 0, 0, 0.15); }
    .feedFooterLeft .block .selPerson {
      display: block;
      float: left;
      padding: 10px; }
      .feedFooterLeft .block .selPerson .head, .feedFooterLeft .block .selPerson .foot {
        display: block;
        float: left;
        width: 100%;
        height: 30px;
        line-height: 30px;
        padding: 0 10px; }
      .feedFooterLeft .block .selPerson .cont {
        display: block;
        float: left;
        padding: 10px; }
        .feedFooterLeft .block .selPerson .cont .imgHead {
          display: block;
          float: left;
          width: 45px;
          height: 45px;
          margin: 0 5px;
          -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          overflow: hidden;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%;
          background: #ddd;
          border: 1px solid #ddd;
          transition: margin 0.5s, background 0.5s; }
          .feedFooterLeft .block .selPerson .cont .imgHead .check {
            display: block;
            float: left;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 3;
            line-height: 45px;
            text-align: center;
            font-size: 200%;
            color: #fff;
            padding-top: 45px;
            transition: padding 0.4s , background 0.8s; }
        .feedFooterLeft .block .selPerson .cont .imgHead > img {
          max-width: 100%;
          max-height: 100%;
          min-width: 100%;
          min-height: 100%;
          overflow: hidden; }

/* Colors */
/* images */
.postform {
  background: #fff;
  color: #333333; }

.heading > span {
  line-height: 30px;
  font-size: 90%;
  font-weight: lighter;
  text-align: center;
  color: #333;
  border-bottom: 2px transparent solid; }

.postform .cont, .postform .cont form > .head, .postform .cont form > .mid, .postform .cont form > .foot {
  /*background:rgba($blueR,$blueG,$blueB,0.02);shikku*/ }

.postform > .cont {
  /*background:rgba($blueR,$blueG,$blueB,0.02);shikku*/
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  /*shikku*/ }

.postform .cont form > .head textarea {
  border: none;
  outline: none;
  resize: vertical;
  background: rgba(52, 152, 219, 0.02); }

.postform .cont form > .head input {
  resize: none; }

.postform .cont form > .head input,
.postform .cont form > .head input[type="checkbox"] {
  border: #ddd 1px solid;
  outline: none; }

.p-dropzone {
  border: 1px dashed #aaa;
  color: #888;
  line-height: 30px; }

.postform .cont form > .foot {
  width: 100%;
  /*background:rgba($blueR,$blueG,$blueB,0.2);
  background: $lightSlateGray;shikku*/
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  /*shikku*/
  height: 30px; }

.postform .cont form > .foot > .Sel {
  /*shikku*/
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-left: 1px solid rgba(0, 0, 0, 0.15); }

.postform .cont form > .foot > button {
  font-size: 80%;
  border: none;
  background: #3ba75b;
  color: #eee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.postform .cont form > .foot > div {
  font-size: 80%;
  line-height: 25px;
  /*background: rgba($blueR,$blueG,$blueB,0.3);shikku*/
  color: #555;
  /*shikku*/ }

.postform .cont form > .foot > div .text-slot {
  text-align: center;
  line-height: 30px;
  color: #444; }

.postform .cont form > .foot > div > .foot > span {
  background: #fff; }

.postform .cont form > .head .half {
  line-height: 30px; }

.postform .cont form > .head .half > div > select {
  border: #ddd 1px solid;
  background: #fff; }

.feed-slot {
  border-top: #eee solid 1px; }

.feed-slot > .feedSet {
  border-bottom: #ddd 1px solid; }

.feed-slot > .feedSet .contHead > div {
  border-bottom: 1px solid #f4f4f4;
  color: #444; }

.feed-slot > .feedSet .cont > .left > .img {
  background: #aaa; }

.feed-slot > .feedSet .cont > .right {
  font-size: 90%;
  color: #333; }

.feed-slot > .feedSet .cont > .right > .head {
  line-height: 30px;
  color: #666; }

.feed-slot > .feedSet .cont > .right > .head,
.feed-slot > .feedSet .cont > .right > .mid,
.feed-slot > .feedSet .cont > .right > .foot {
  transition: 1s; }

.feed-slot > .feedSet .cont > .right > .mid {
  background: #fff; }

.feed-slot > .feedSet .cont > .right > .foot > .head .cnmtBtn,
.feed-slot > .feedSet .cont > .right > .foot > .head .date {
  line-height: 30px; }

.feed-slot > .feedSet .cont > .right > .foot > .head .cnmtBtn {
  color: #1B98C2; }

.feed-slot > .feedSet .cont > .right > .foot > .head .date {
  color: #aaa; }

.b-btn-def,
.b-btn-sm {
  font-size: 80%;
  border: none;
  background: #3ba75b;
  color: #eee;
  border-radius: 4px; }

.b-btn-def {
  background: #eee; }

.commentSet {
  border-bottom: 1px solid #ddd;
  color: #777;
  font-weight: strong; }

.commentSet > .contSec > div {
  line-height: 30px; }

.commentSet > .imgSec > .img {
  background: #ddd; }

.commentSet > div > .foot > div > .date {
  line-height: 20px; }

.commentSet > div > .head {
  font-size: 110%;
  color: #444; }

.commentSet > div > .head,
.commentSet > div > .mid {
  line-height: 20px; }

.commentForm {
  transition: .8s; }

.b-link {
  color: #1B98C2;
  line-height: 20px; }

.form-error-msg {
  padding: 4px;
  background: #FF4500;
  border-radius: 1px;
  margin: 5px 0 0 5px;
  font-size: 11px; }

.comment-slot {
  background: #eee; }

/* Colors */
/* images */
.heading > span:hover {
  cursor: pointer;
  border-bottom: 2px rgba(231, 76, 60, 0.2) solid;
  color: #111; }

.heading > .active {
  color: #111; }

.heading > .active:hover {
  cursor: default; }

.postform .cont form > .foot > button:hover {
  background: #5fcf80;
  color: #fff; }

.postform .cont form > .foot > .Sel:hover > .foot {
  display: block;
  cursor: pointer; }

.postform .cont form > .foot > .Sel:hover {
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc; }

.postform .cont form > .foot > .Sel > .foot > .active {
  background: red; }

.postform .cont form > .foot > .Sel > .foot > span:hover {
  background: #3498db;
  color: #fff; }

.feed-slot > .feedSet .cont > .right > .foot > .head .cnmtBtn:hover,
.feed-slot > .feedSet .cont > .right > .foot > .head .date:hover {
  cursor: pointer;
  color: #0EAFE6;
  text-decoration: underline; }

.b-btn-sm:hover {
  background: #5fcf80;
  color: #fff; }

.b-link:hover {
  cursor: pointer;
  color: #0EAFE6;
  text-decoration: underline; }

.feedFooterLeft .block .Btn:hover {
  cursor: pointer; }
.feedFooterLeft .block .selPerson .cont .imgHead:hover {
  cursor: pointer; }
.feedFooterLeft .block .selPerson .cont .imgHead .active {
  opacity: 1;
  padding-top: 0px;
  background: rgba(0, 0, 0, 0.3); }

.feed-slide.ng-enter,
.feed-slide.ng-leave {
  -webkit-transition: 700ms cubic-bezier(0, 0, 0, 1, 1) all;
  -moz-transition: 700ms cubic-bezier(0, 0, 0, 1, 1) all;
  -ms-transition: 700ms cubic-bezier(0, 0, 0, 1, 1) all;
  -o-transition: 700ms cubic-bezier(0, 0, 0, 1, 1) all;
  transition: 700ms cubic-bezier(0, 0, 0, 1) all; }

.feed-slide.ng-enter {
  left: 75%;
  opacity: 0; }

.feed-slide.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1; }

.feed-slide.ng-leave {
  left: 0;
  opacity: 1; }

.feed-slide.ng-leave.ng-leave-active {
  left: -100%;
  opacity: 0; }

.feed-slide.ng-enter-stagger {
  transition-delay: 0.1s;
  animation-delay: 0.1s; }

.chatSystem {
  display: block;
  float: left;
  position: fixed;
  right: -310px;
  top: 50px;
  bottom: 0px;
  width: 300px; }
  .chatSystem .head {
    display: block;
    float: left;
    width: 100%; }
    .chatSystem .head .rows {
      display: block;
      float: left;
      width: 100%;
      height: "30px"; }
      .chatSystem .head .rows .Btn, .chatSystem .head .rows .title, .chatSystem .head .rows .clBtn {
        display: block;
        float: left;
        width: calc( 100% / 3);
        height: "30px"; }
      .chatSystem .head .rows .title {
        width: 100%; }
      .chatSystem .head .rows .clBtn {
        width: 10%; }

.chatSystemAct {
  right: 0px; }

/* Colors */
/* images */
.chatSystem {
  background: #fff;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: right 0.3s; }
  .chatSystem .head {
    color: #aaa; }
    .chatSystem .head .rows {
      background: #000; }
      .chatSystem .head .rows .Btn, .chatSystem .head .rows .title, .chatSystem .head .rows .clBtn {
        line-height: 30px;
        text-align: center; }
      .chatSystem .head .rows .title {
        font-size: 110%;
        color: #3498db; }

.chatSystem .head .rows .Btn:hover, .chatSystem .head .rows .clBtn:hover {
  cursor: pointer;
  color: #ddd;
  background: #222; }
.chatSystem .head .rows .Btn.active {
  background: #333; }

/*# sourceMappingURL=widgets.css.map */
